.emoji {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(emoji_apple_64_indexed_256colors.png);
  background-size: 720px 720px;
}
.emoji-copyright{background-position: calc(0 * -24px) calc(0 * -24px); }
.emoji-registered{background-position: calc(0 * -24px) calc(1 * -24px); }
.emoji-bangbang{background-position: calc(0 * -24px) calc(2 * -24px); }
.emoji-interrobang{background-position: calc(0 * -24px) calc(3 * -24px); }
.emoji-trademark{background-position: calc(0 * -24px) calc(4 * -24px); }
.emoji-information_source{background-position: calc(0 * -24px) calc(5 * -24px); }
.emoji-left_right_arrow{background-position: calc(0 * -24px) calc(6 * -24px); }
.emoji-arrow_up_down{background-position: calc(0 * -24px) calc(7 * -24px); }
.emoji-upper_left{background-position: calc(0 * -24px) calc(8 * -24px); }
.emoji-upper_right{background-position: calc(0 * -24px) calc(9 * -24px); }
.emoji-lower_right{background-position: calc(0 * -24px) calc(10 * -24px); }
.emoji-lower_left{background-position: calc(0 * -24px) calc(11 * -24px); }
.emoji-leftwards_arrow_with_hook{background-position: calc(0 * -24px) calc(12 * -24px); }
.emoji-arrow_right_hook{background-position: calc(0 * -24px) calc(13 * -24px); }
.emoji-watch{background-position: calc(0 * -24px) calc(14 * -24px); }
.emoji-hourglass{background-position: calc(0 * -24px) calc(15 * -24px); }
.emoji-fast_forward{background-position: calc(0 * -24px) calc(16 * -24px); }
.emoji-remind{background-position: calc(0 * -24px) calc(17 * -24px); }
.emoji-arrow_double_up{background-position: calc(0 * -24px) calc(18 * -24px); }
.emoji-arrow_double_down{background-position: calc(0 * -24px) calc(19 * -24px); }
.emoji-alarm_clock{background-position: calc(0 * -24px) calc(20 * -24px); }
.emoji-hourglass_flowing_sand{background-position: calc(0 * -24px) calc(21 * -24px); }
.emoji-m{background-position: calc(0 * -24px) calc(22 * -24px); }
.emoji-black_large_square{background-position: calc(0 * -24px) calc(23 * -24px); }
.emoji-white_large_square{background-position: calc(0 * -24px) calc(24 * -24px); }
.emoji-arrow_forward{background-position: calc(0 * -24px) calc(25 * -24px); }
.emoji-arrow_backward{background-position: calc(0 * -24px) calc(26 * -24px); }
.emoji-white_medium_square{background-position: calc(0 * -24px) calc(27 * -24px); }
.emoji-black_medium_square{background-position: calc(0 * -24px) calc(28 * -24px); }
.emoji-white_small_square{background-position: calc(0 * -24px) calc(29 * -24px); }
.emoji-black_small_square{background-position: calc(1 * -24px) calc(0 * -24px); }
.emoji-sunny{background-position: calc(1 * -24px) calc(1 * -24px); }
.emoji-cloud{background-position: calc(1 * -24px) calc(2 * -24px); }
.emoji-phone{background-position: calc(1 * -24px) calc(3 * -24px); }
.emoji-ballot_box_with_check{background-position: calc(1 * -24px) calc(4 * -24px); }
.emoji-umbrella_rain{background-position: calc(1 * -24px) calc(5 * -24px); }
.emoji-coffee{background-position: calc(1 * -24px) calc(6 * -24px); }
.emoji-index_finger{background-position: calc(1 * -24px) calc(7 * -24px); }
.emoji-relaxed{background-position: calc(1 * -24px) calc(8 * -24px); }
.emoji-aries{background-position: calc(1 * -24px) calc(9 * -24px); }
.emoji-taurus{background-position: calc(1 * -24px) calc(10 * -24px); }
.emoji-gemini{background-position: calc(1 * -24px) calc(11 * -24px); }
.emoji-cancer{background-position: calc(1 * -24px) calc(12 * -24px); }
.emoji-leo{background-position: calc(1 * -24px) calc(13 * -24px); }
.emoji-virgo{background-position: calc(1 * -24px) calc(14 * -24px); }
.emoji-libra{background-position: calc(1 * -24px) calc(15 * -24px); }
.emoji-scorpius{background-position: calc(1 * -24px) calc(16 * -24px); }
.emoji-sagitarius{background-position: calc(1 * -24px) calc(17 * -24px); }
.emoji-capricorn{background-position: calc(1 * -24px) calc(18 * -24px); }
.emoji-aquarius{background-position: calc(1 * -24px) calc(19 * -24px); }
.emoji-pisces{background-position: calc(1 * -24px) calc(20 * -24px); }
.emoji-spades{background-position: calc(1 * -24px) calc(21 * -24px); }
.emoji-clubs{background-position: calc(1 * -24px) calc(22 * -24px); }
.emoji-hearts{background-position: calc(1 * -24px) calc(23 * -24px); }
.emoji-diamonds{background-position: calc(1 * -24px) calc(24 * -24px); }
.emoji-hotsprings{background-position: calc(1 * -24px) calc(25 * -24px); }
.emoji-recycle{background-position: calc(1 * -24px) calc(26 * -24px); }
.emoji-wheelchair{background-position: calc(1 * -24px) calc(27 * -24px); }
.emoji-anchor{background-position: calc(1 * -24px) calc(28 * -24px); }
.emoji-warning{background-position: calc(1 * -24px) calc(29 * -24px); }
.emoji-zap{background-position: calc(2 * -24px) calc(0 * -24px); }
.emoji-white_large_circle{background-position: calc(2 * -24px) calc(1 * -24px); }
.emoji-black_large_circle{background-position: calc(2 * -24px) calc(2 * -24px); }
.emoji-soccer{background-position: calc(2 * -24px) calc(3 * -24px); }
.emoji-baseball{background-position: calc(2 * -24px) calc(4 * -24px); }
.emoji-snowman{background-position: calc(2 * -24px) calc(5 * -24px); }
.emoji-barely_sunny{background-position: calc(2 * -24px) calc(6 * -24px); }
.emoji-ophiuchus{background-position: calc(2 * -24px) calc(7 * -24px); }
.emoji-no_entry{background-position: calc(2 * -24px) calc(8 * -24px); }
.emoji-church{background-position: calc(2 * -24px) calc(9 * -24px); }
.emoji-fountain{background-position: calc(2 * -24px) calc(10 * -24px); }
.emoji-golf{background-position: calc(2 * -24px) calc(11 * -24px); }
.emoji-boat{background-position: calc(2 * -24px) calc(12 * -24px); }
.emoji-camping{background-position: calc(2 * -24px) calc(13 * -24px); }
.emoji-fuelpump{background-position: calc(2 * -24px) calc(14 * -24px); }
.emoji-scissors{background-position: calc(2 * -24px) calc(15 * -24px); }
.emoji-white_check_mark{background-position: calc(2 * -24px) calc(16 * -24px); }
.emoji-airplane{background-position: calc(2 * -24px) calc(17 * -24px); }
.emoji-email{background-position: calc(2 * -24px) calc(18 * -24px); }
.emoji-fist{background-position: calc(2 * -24px) calc(19 * -24px); }
.emoji-hand{background-position: calc(2 * -24px) calc(20 * -24px); }
.emoji-v{background-position: calc(2 * -24px) calc(21 * -24px); }
.emoji-pencil2{background-position: calc(2 * -24px) calc(22 * -24px); }
.emoji-fountain_pen{background-position: calc(2 * -24px) calc(23 * -24px); }
.emoji-heavy_check_mark{background-position: calc(2 * -24px) calc(24 * -24px); }
.emoji-heavy_multiplication_x{background-position: calc(2 * -24px) calc(25 * -24px); }
.emoji-sparkles{background-position: calc(2 * -24px) calc(26 * -24px); }
.emoji-eight_spoked_asterisk{background-position: calc(2 * -24px) calc(27 * -24px); }
.emoji-four_pointed_white_star{background-position: calc(2 * -24px) calc(28 * -24px); }
.emoji-snowflake{background-position: calc(2 * -24px) calc(29 * -24px); }
.emoji-sparkle{background-position: calc(3 * -24px) calc(0 * -24px); }
.emoji-x{background-position: calc(3 * -24px) calc(1 * -24px); }
.emoji-negative_space_cross_mark{background-position: calc(3 * -24px) calc(2 * -24px); }
.emoji-question{background-position: calc(3 * -24px) calc(3 * -24px); }
.emoji-grey_question{background-position: calc(3 * -24px) calc(4 * -24px); }
.emoji-grey_exclamation{background-position: calc(3 * -24px) calc(5 * -24px); }
.emoji-exclamation{background-position: calc(3 * -24px) calc(6 * -24px); }
.emoji-heart{background-position: calc(3 * -24px) calc(7 * -24px); }
.emoji-heavy_plus_sign{background-position: calc(3 * -24px) calc(8 * -24px); }
.emoji-heavy_minus_sign{background-position: calc(3 * -24px) calc(9 * -24px); }
.emoji-heavy_division_sign{background-position: calc(3 * -24px) calc(10 * -24px); }
.emoji-arrow_right{background-position: calc(3 * -24px) calc(11 * -24px); }
.emoji-curly_loop{background-position: calc(3 * -24px) calc(12 * -24px); }
.emoji-loop{background-position: calc(3 * -24px) calc(13 * -24px); }
.emoji-arrow_heading_up{background-position: calc(3 * -24px) calc(14 * -24px); }
.emoji-arrow_heading_down{background-position: calc(3 * -24px) calc(15 * -24px); }
.emoji-arrow_left{background-position: calc(3 * -24px) calc(16 * -24px); }
.emoji-arrow_up{background-position: calc(3 * -24px) calc(17 * -24px); }
.emoji-arrow_down{background-position: calc(3 * -24px) calc(18 * -24px); }
.emoji-black_box{background-position: calc(3 * -24px) calc(19 * -24px); }
.emoji-black_box2{background-position: calc(3 * -24px) calc(19 * -24px); }    
.emoji-star{background-position: calc(3 * -24px) calc(21 * -24px); }
.emoji-o{background-position: calc(3 * -24px) calc(22 * -24px); }
.emoji-wavy_dash{background-position: calc(3 * -24px) calc(23 * -24px); }
.emoji-part_alternation_mark{background-position: calc(3 * -24px) calc(24 * -24px); }
.emoji-congratulation{background-position: calc(3 * -24px) calc(25 * -24px); }
.emoji-secret{background-position: calc(3 * -24px) calc(26 * -24px); }
.emoji-taro{background-position: calc(3 * -24px) calc(27 * -24px); }
.emoji-joker{background-position: calc(3 * -24px) calc(28 * -24px); }
.emoji-a{background-position: calc(3 * -24px) calc(29 * -24px); }
.emoji-b{background-position: calc(4 * -24px) calc(0 * -24px); }
.emoji-o{background-position: calc(4 * -24px) calc(1 * -24px); }
.emoji-parking{background-position: calc(4 * -24px) calc(2 * -24px); }
.emoji-ab{background-position: calc(4 * -24px) calc(3 * -24px); }
.emoji-cl{background-position: calc(4 * -24px) calc(4 * -24px); }
.emoji-cool{background-position: calc(4 * -24px) calc(5 * -24px); }
.emoji-free{background-position: calc(4 * -24px) calc(6 * -24px); }
.emoji-id{background-position: calc(4 * -24px) calc(7 * -24px); }
.emoji-new{background-position: calc(4 * -24px) calc(8 * -24px); }
.emoji-ng{background-position: calc(4 * -24px) calc(9 * -24px); }
.emoji-ok{background-position: calc(4 * -24px) calc(10 * -24px); }
.emoji-sos{background-position: calc(4 * -24px) calc(11 * -24px); }
.emoji-up{background-position: calc(4 * -24px) calc(12 * -24px); }
.emoji-vs{background-position: calc(4 * -24px) calc(13 * -24px); }
.emoji-sa{background-position: calc(4 * -24px) calc(15 * -24px); }
.emoji-chinese_char{background-position: calc(4 * -24px) calc(16 * -24px); }}   
.emoji-u7a7a{background-position: calc(4 * -24px) calc(19 * -24px); }
.emoji-ideograph_advantage{background-position: calc(4 * -24px) calc(27 * -24px); }
.emoji-cyclone{background-position: calc(4 * -24px) calc(29 * -24px); }
.emoji-foggy{background-position: calc(5 * -24px) calc(0 * -24px); }
.emoji-umbrella{background-position: calc(5 * -24px) calc(1 * -24px); }
.emoji-skyline_night{background-position: calc(5 * -24px) calc(2 * -24px); }
.emoji-sunrise{background-position: calc(5 * -24px) calc(3 * -24px); }
.emoji-sunset{background-position: calc(5 * -24px) calc(4 * -24px); }
.emoji-skyline{background-position: calc(5 * -24px) calc(5 * -24px); }
.emoji-skyline_sunset{background-position: calc(5 * -24px) calc(6 * -24px); }
.emoji-rainbow{background-position: calc(5 * -24px) calc(7 * -24px); }
.emoji-night_bridge{background-position: calc(5 * -24px) calc(8 * -24px); }
.emoji-wave{background-position: calc(5 * -24px) calc(9 * -24px); }
.emoji-volcano{background-position: calc(5 * -24px) calc(10 * -24px); }
.emoji-night_sky{background-position: calc(5 * -24px) calc(11 * -24px); }
.emoji-globe_africa{background-position: calc(5 * -24px) calc(12 * -24px); }
.emoji-globe_america{background-position: calc(5 * -24px) calc(13 * -24px); }
.emoji-globe_asia{background-position: calc(5 * -24px) calc(14 * -24px); }
.emoji-globe{background-position: calc(5 * -24px) calc(15 * -24px); }
.emoji-moon_dark{background-position: calc(5 * -24px) calc(16 * -24px); }
.emoji-moon_75_dark{background-position: calc(5 * -24px) calc(17 * -24px); }
.emoji-moon_50_dark{background-position: calc(5 * -24px) calc(18 * -24px); }
.emoji-moon_25_dark{background-position: calc(5 * -24px) calc(19 * -24px); }
.emoji-moon_full{background-position: calc(5 * -24px) calc(20 * -24px); }
.emoji-moon_75_full{background-position: calc(5 * -24px) calc(21 * -24px); }
.emoji-moon_50_full{background-position: calc(5 * -24px) calc(22 * -24px); }
.emoji-moon_25_full{background-position: calc(5 * -24px) calc(23 * -24px); }
.emoji-moon_cresent{background-position: calc(5 * -24px) calc(24 * -24px); }
.emoji-moon_dark_face{background-position: calc(5 * -24px) calc(25 * -24px); }
.emoji-moon_cresent_face_left{background-position: calc(5 * -24px) calc(26 * -24px); }
.emoji-moon_cresent_face_right{background-position: calc(5 * -24px) calc(27 * -24px); }
.emoji-moon_full_face{background-position: calc(5 * -24px) calc(28 * -24px); }
.emoji-star_sparkle{background-position: calc(6 * -24px) calc(0 * -24px); }
.emoji-shooting_star{background-position: calc(6 * -24px) calc(1 * -24px); }
.emoji-chestnut{background-position: calc(6 * -24px) calc(2 * -24px); }
.emoji-sprout{background-position: calc(6 * -24px) calc(3 * -24px); }
.emoji-pine_tree{background-position: calc(6 * -24px) calc(4 * -24px); }
.emoji-tree{background-position: calc(6 * -24px) calc(5 * -24px); }
.emoji-palm{background-position: calc(6 * -24px) calc(6 * -24px); }
.emoji-cactus{background-position: calc(6 * -24px) calc(7 * -24px); }
.emoji-tulip{background-position: calc(6 * -24px) calc(8 * -24px); }
.emoji-buttercup{background-position: calc(6 * -24px) calc(9 * -24px); }
.emoji-rose{background-position: calc(6 * -24px) calc(10 * -24px); }
.emoji-hibiscus{background-position: calc(6 * -24px) calc(11 * -24px); }
.emoji-sunflower{background-position: calc(6 * -24px) calc(12 * -24px); }
.emoji-daisy{background-position: calc(6 * -24px) calc(13 * -24px); }
.emoji-corn{background-position: calc(6 * -24px) calc(14 * -24px); }
.emoji-weeds{background-position: calc(6 * -24px) calc(15 * -24px); }
.emoji-twig_leaves{background-position: calc(6 * -24px) calc(16 * -24px); }
.emoji-four_leaf_clover{background-position: calc(6 * -24px) calc(17 * -24px); }
.emoji-leaf_red{background-position: calc(6 * -24px) calc(18 * -24px); }
.emoji-leaves_fall_orange{background-position: calc(6 * -24px) calc(19 * -24px); }
.emoji-leaves_fall_green{background-position: calc(6 * -24px) calc(20 * -24px); }
.emoji-mushroom{background-position: calc(6 * -24px) calc(21 * -24px); }
.emoji-tomato{background-position: calc(6 * -24px) calc(22 * -24px); }
.emoji-eggplant{background-position: calc(6 * -24px) calc(23 * -24px); }
.emoji-grapes{background-position: calc(6 * -24px) calc(24 * -24px); }
.emoji-melon{background-position: calc(6 * -24px) calc(25 * -24px); }
.emoji-watermelon{background-position: calc(6 * -24px) calc(26 * -24px); }
.emoji-orange{background-position: calc(6 * -24px) calc(27 * -24px); }
.emoji-lemon{background-position: calc(6 * -24px) calc(28 * -24px); }
.emoji-pineapple{background-position: calc(7 * -24px) calc(0 * -24px); }
.emoji-apple_red{background-position: calc(7 * -24px) calc(1 * -24px); }
.emoji-apple_green{background-position: calc(7 * -24px) calc(2 * -24px); }
.emoji-pear{background-position: calc(7 * -24px) calc(3 * -24px); }
.emoji-peach{background-position: calc(7 * -24px) calc(4 * -24px); }
.emoji-cherry{background-position: calc(7 * -24px) calc(5 * -24px); }
.emoji-strawberry{background-position: calc(7 * -24px) calc(6 * -24px); }
.emoji-burger{background-position: calc(7 * -24px) calc(7 * -24px); }
.emoji-pizza{background-position: calc(7 * -24px) calc(8 * -24px); }
.emoji-meat_on_bone{background-position: calc(7 * -24px) calc(9 * -24px); }
.emoji-chicken_leg{background-position: calc(7 * -24px) calc(10 * -24px); }
.emoji-rice_cracker{background-position: calc(7 * -24px) calc(11 * -24px); }
.emoji-rice_ball{background-position: calc(7 * -24px) calc(12 * -24px); }
.emoji-rice{background-position: calc(7 * -24px) calc(13 * -24px); }
.emoji-curry_rice{background-position: calc(7 * -24px) calc(14 * -24px); }
.emoji-noodle_bowl{background-position: calc(7 * -24px) calc(15 * -24px); }
.emoji-spagetti{background-position: calc(7 * -24px) calc(16 * -24px); }
.emoji-bread{background-position: calc(7 * -24px) calc(17 * -24px); }
.emoji-fries{background-position: calc(7 * -24px) calc(18 * -24px); }
.emoji-sweet_potato{background-position: calc(7 * -24px) calc(19 * -24px); }
.emoji-dango{background-position: calc(7 * -24px) calc(20 * -24px); }
.emoji-oden{background-position: calc(7 * -24px) calc(21 * -24px); }
.emoji-sushi{background-position: calc(7 * -24px) calc(22 * -24px); }
.emoji-shrimp{background-position: calc(7 * -24px) calc(23 * -24px); }
.emoji-fish_cake{background-position: calc(7 * -24px) calc(24 * -24px); }
.emoji-soft_serve{background-position: calc(7 * -24px) calc(25 * -24px); }
.emoji-shave_ice{background-position: calc(7 * -24px) calc(26 * -24px); }
.emoji-ice_cream{background-position: calc(7 * -24px) calc(27 * -24px); }
.emoji-donut{background-position: calc(7 * -24px) calc(28 * -24px); }
.emoji-chocolate{background-position: calc(8 * -24px) calc(0 * -24px); }
.emoji-candy{background-position: calc(8 * -24px) calc(1 * -24px); }
.emoji-lollipop{background-position: calc(8 * -24px) calc(2 * -24px); }
.emoji-custard{background-position: calc(8 * -24px) calc(3 * -24px); }
.emoji-honey_pot{background-position: calc(8 * -24px) calc(4 * -24px); }
.emoji-shortcake{background-position: calc(8 * -24px) calc(5 * -24px); }
.emoji-bento_box{background-position: calc(8 * -24px) calc(6 * -24px); }
.emoji-hot_pot{background-position: calc(8 * -24px) calc(7 * -24px); }
.emoji-fried_egg{background-position: calc(8 * -24px) calc(8 * -24px); }
.emoji-fork_knife{background-position: calc(8 * -24px) calc(9 * -24px); }
.emoji-green_tea{background-position: calc(8 * -24px) calc(10 * -24px); }
.emoji-sake{background-position: calc(8 * -24px) calc(11 * -24px); }
.emoji-wine{background-position: calc(8 * -24px) calc(12 * -24px); }
.emoji-martini{background-position: calc(8 * -24px) calc(13 * -24px); }
.emoji-tropical_drink{background-position: calc(8 * -24px) calc(14 * -24px); }
.emoji-beer{background-position: calc(8 * -24px) calc(15 * -24px); }
.emoji-beer_clinking{background-position: calc(8 * -24px) calc(16 * -24px); }
.emoji-baby_bottle{background-position: calc(8 * -24px) calc(17 * -24px); }
.emoji-pink_bow{background-position: calc(8 * -24px) calc(18 * -24px); }
.emoji-present{background-position: calc(8 * -24px) calc(19 * -24px); }
.emoji-birthday_cake{background-position: calc(8 * -24px) calc(20 * -24px); }
.emoji-halloween_pumpkin{background-position: calc(8 * -24px) calc(21 * -24px); }
.emoji-christmas_tree{background-position: calc(8 * -24px) calc(22 * -24px); }
.emoji-santa{background-position: calc(8 * -24px) calc(23 * -24px); }
.emoji-fireworks{background-position: calc(8 * -24px) calc(24 * -24px); }
.emoji-fireworks2{background-position: calc(8 * -24px) calc(25 * -24px); }
.emoji-baloon{background-position: calc(8 * -24px) calc(26 * -24px); }
.emoji-party{background-position: calc(8 * -24px) calc(27 * -24px); }
.emoji-confetti{background-position: calc(8 * -24px) calc(28 * -24px); }
.emoji-crossed_flags{background-position: calc(9 * -24px) calc(0 * -24px); }
.emoji-bamboo{background-position: calc(9 * -24px) calc(1 * -24px); }
.emoji-japanese_doll{background-position: calc(9 * -24px) calc(2 * -24px); }
.emoji-carp_streamer{background-position: calc(9 * -24px) calc(3 * -24px); }
.emoji-wind_chime{background-position: calc(9 * -24px) calc(4 * -24px); }
.emoji-cotton_field{background-position: calc(9 * -24px) calc(5 * -24px); }
.emoji-backpack{background-position: calc(9 * -24px) calc(6 * -24px); }
.emoji-graduation_cap{background-position: calc(9 * -24px) calc(7 * -24px); }
.emoji-carousel{background-position: calc(9 * -24px) calc(8 * -24px); }
.emoji-ferris_wheel{background-position: calc(9 * -24px) calc(9 * -24px); }
.emoji-rollercoaster{background-position: calc(9 * -24px) calc(10 * -24px); }
.emoji-fishing{background-position: calc(9 * -24px) calc(11 * -24px); }
.emoji-mic{background-position: calc(9 * -24px) calc(12 * -24px); }
.emoji-video_camera{background-position: calc(9 * -24px) calc(13 * -24px); }
.emoji-video_camera_icon{background-position: calc(9 * -24px) calc(14 * -24px); }
.emoji-music{background-position: calc(9 * -24px) calc(15 * -24px); }
.emoji-palette{background-position: calc(9 * -24px) calc(16 * -24px); }
.emoji-top_hat{background-position: calc(9 * -24px) calc(17 * -24px); }
.emoji-big_top{background-position: calc(9 * -24px) calc(18 * -24px); }
.emoji-ticket{background-position: calc(9 * -24px) calc(19 * -24px); }
.emoji-scene_marker{background-position: calc(9 * -24px) calc(20 * -24px); }
.emoji-drama_mask{background-position: calc(9 * -24px) calc(21 * -24px); }
.emoji-video_game{background-position: calc(9 * -24px) calc(22 * -24px); }
.emoji-darts{background-position: calc(9 * -24px) calc(23 * -24px); }
.emoji-slots{background-position: calc(9 * -24px) calc(24 * -24px); }
.emoji-8_ball{background-position: calc(9 * -24px) calc(25 * -24px); }
.emoji-dice{background-position: calc(9 * -24px) calc(26 * -24px); }
.emoji-bowling{background-position: calc(9 * -24px) calc(27 * -24px); }
.emoji-tarot_card{background-position: calc(9 * -24px) calc(28 * -24px); }
.emoji-music_notes{background-position: calc(10 * -24px) calc(0 * -24px); }
.emoji-saxaphone{background-position: calc(10 * -24px) calc(1 * -24px); }
.emoji-guitar{background-position: calc(10 * -24px) calc(2 * -24px); }
.emoji-piano{background-position: calc(10 * -24px) calc(3 * -24px); }
.emoji-trumpet{background-position: calc(10 * -24px) calc(4 * -24px); }
.emoji-violin{background-position: calc(10 * -24px) calc(5 * -24px); }
.emoji-music_staf{background-position: calc(10 * -24px) calc(6 * -24px); }
.emoji-tennis_shirt{background-position: calc(10 * -24px) calc(7 * -24px); }
.emoji-tennis_ball{background-position: calc(10 * -24px) calc(8 * -24px); }
.emoji-skis{background-position: calc(10 * -24px) calc(9 * -24px); }
.emoji-basketball{background-position: calc(10 * -24px) calc(10 * -24px); }
.emoji-checkered_flag{background-position: calc(10 * -24px) calc(11 * -24px); }
.emoji-skiing{background-position: calc(10 * -24px) calc(12 * -24px); }
.emoji-running{background-position: calc(10 * -24px) calc(13 * -24px); }
.emoji-surfing{background-position: calc(10 * -24px) calc(14 * -24px); }
.emoji-trophy{background-position: calc(10 * -24px) calc(15 * -24px); }
.emoji-equestrial{background-position: calc(10 * -24px) calc(16 * -24px); }
.emoji-football{background-position: calc(10 * -24px) calc(17 * -24px); }
.emoji-rugby{background-position: calc(10 * -24px) calc(18 * -24px); }
.emoji-swimming{background-position: calc(10 * -24px) calc(19 * -24px); }
.emoji-house{background-position: calc(10 * -24px) calc(20 * -24px); }
.emoji-house_tree{background-position: calc(10 * -24px) calc(21 * -24px); }
.emoji-office_building{background-position: calc(10 * -24px) calc(22 * -24px); }
.emoji-japanese_post_office{background-position: calc(10 * -24px) calc(23 * -24px); }
.emoji-european_post_office{background-position: calc(10 * -24px) calc(24 * -24px); }
.emoji-hospital{background-position: calc(10 * -24px) calc(25 * -24px); }
.emoji-bank{background-position: calc(10 * -24px) calc(26 * -24px); }
.emoji-atm{background-position: calc(10 * -24px) calc(27 * -24px); }
.emoji-hotel{background-position: calc(10 * -24px) calc(28 * -24px); }
.emoji-convienence_store{background-position: calc(11 * -24px) calc(0 * -24px); }
.emoji-school{background-position: calc(11 * -24px) calc(1 * -24px); }
.emoji-department_store{background-position: calc(11 * -24px) calc(2 * -24px); }
.emoji-factory{background-position: calc(11 * -24px) calc(3 * -24px); }
.emoji-lantern{background-position: calc(11 * -24px) calc(4 * -24px); }
.emoji-japanese_castle{background-position: calc(11 * -24px) calc(5 * -24px); }
.emoji-european_castle{background-position: calc(11 * -24px) calc(6 * -24px); }
.emoji-rat{background-position: calc(11 * -24px) calc(7 * -24px); }
.emoji-mouse{background-position: calc(11 * -24px) calc(8 * -24px); }
.emoji-bull{background-position: calc(11 * -24px) calc(9 * -24px); }
.emoji-calf{background-position: calc(11 * -24px) calc(10 * -24px); }
.emoji-cow{background-position: calc(11 * -24px) calc(11 * -24px); }
.emoji-tiger{background-position: calc(11 * -24px) calc(12 * -24px); }
.emoji-tiger2{background-position: calc(11 * -24px) calc(13 * -24px); }
.emoji-rabbit{background-position: calc(11 * -24px) calc(14 * -24px); }
.emoji-cat{background-position: calc(11 * -24px) calc(15 * -24px); }
.emoji-dragon{background-position: calc(11 * -24px) calc(16 * -24px); }
.emoji-gator{background-position: calc(11 * -24px) calc(17 * -24px); }
.emoji-whale{background-position: calc(11 * -24px) calc(18 * -24px); }
.emoji-snail{background-position: calc(11 * -24px) calc(19 * -24px); }
.emoji-snake{background-position: calc(11 * -24px) calc(20 * -24px); }
.emoji-horse{background-position: calc(11 * -24px) calc(21 * -24px); }
.emoji-ram{background-position: calc(11 * -24px) calc(22 * -24px); }
.emoji-goat{background-position: calc(11 * -24px) calc(23 * -24px); }
.emoji-ram2{background-position: calc(11 * -24px) calc(24 * -24px); }
.emoji-monkey{background-position: calc(11 * -24px) calc(25 * -24px); }
.emoji-chicken{background-position: calc(11 * -24px) calc(26 * -24px); }
.emoji-chicken_head{background-position: calc(11 * -24px) calc(27 * -24px); }
.emoji-dog{background-position: calc(11 * -24px) calc(28 * -24px); }
.emoji-boar{background-position: calc(12 * -24px) calc(0 * -24px); }
.emoji-elephant{background-position: calc(12 * -24px) calc(1 * -24px); }
.emoji-octopus{background-position: calc(12 * -24px) calc(2 * -24px); }
.emoji-shell{background-position: calc(12 * -24px) calc(3 * -24px); }
.emoji-caterpillar{background-position: calc(12 * -24px) calc(4 * -24px); }
.emoji-ant{background-position: calc(12 * -24px) calc(5 * -24px); }
.emoji-bee{background-position: calc(12 * -24px) calc(6 * -24px); }
.emoji-lady_bug{background-position: calc(12 * -24px) calc(7 * -24px); }
.emoji-fish{background-position: calc(12 * -24px) calc(8 * -24px); }
.emoji-tropical_fish{background-position: calc(12 * -24px) calc(9 * -24px); }
.emoji-blow_fish{background-position: calc(12 * -24px) calc(10 * -24px); }
.emoji-turtle{background-position: calc(12 * -24px) calc(11 * -24px); }
.emoji-chick_hatching{background-position: calc(12 * -24px) calc(12 * -24px); }
.emoji-chick_head{background-position: calc(12 * -24px) calc(13 * -24px); }
.emoji-chick{background-position: calc(12 * -24px) calc(14 * -24px); }
.emoji-bird_head{background-position: calc(12 * -24px) calc(15 * -24px); }
.emoji-penguin_head{background-position: calc(12 * -24px) calc(16 * -24px); }
.emoji-koala{background-position: calc(12 * -24px) calc(17 * -24px); }
.emoji-poodle{background-position: calc(12 * -24px) calc(18 * -24px); }
.emoji-camel{background-position: calc(12 * -24px) calc(19 * -24px); }
.emoji-camel2{background-position: calc(12 * -24px) calc(20 * -24px); }
.emoji-dolphin{background-position: calc(12 * -24px) calc(21 * -24px); }
.emoji-mouse_head{background-position: calc(12 * -24px) calc(22 * -24px); }
.emoji-cow_head{background-position: calc(12 * -24px) calc(23 * -24px); }
.emoji-tiger_head{background-position: calc(12 * -24px) calc(24 * -24px); }
.emoji-rabbit_head{background-position: calc(12 * -24px) calc(25 * -24px); }
.emoji-cat_head{background-position: calc(12 * -24px) calc(26 * -24px); }
.emoji-dragon_head{background-position: calc(12 * -24px) calc(27 * -24px); }
.emoji-whale_head{background-position: calc(12 * -24px) calc(28 * -24px); }
.emoji-monkey_head{background-position: calc(13 * -24px) calc(0 * -24px); }
.emoji-dog_head{background-position: calc(13 * -24px) calc(1 * -24px); }
.emoji-pig_head{background-position: calc(13 * -24px) calc(2 * -24px); }
.emoji-frog_head{background-position: calc(13 * -24px) calc(3 * -24px); }
.emoji-mouse_head{background-position: calc(13 * -24px) calc(4 * -24px); }
.emoji-dog_head{background-position: calc(13 * -24px) calc(5 * -24px); }
.emoji-bear_head{background-position: calc(13 * -24px) calc(6 * -24px); }
.emoji-panda_head{background-position: calc(13 * -24px) calc(7 * -24px); }
.emoji-pig_nose{background-position: calc(13 * -24px) calc(8 * -24px); }
.emoji-paws{background-position: calc(13 * -24px) calc(9 * -24px); }
.emoji-eyes{background-position: calc(13 * -24px) calc(10 * -24px); }
.emoji-ear{background-position: calc(13 * -24px) calc(11 * -24px); }
.emoji-nose{background-position: calc(13 * -24px) calc(12 * -24px); }
.emoji-lips{background-position: calc(13 * -24px) calc(13 * -24px); }
.emoji-tounge{background-position: calc(13 * -24px) calc(14 * -24px); }
.emoji-point_up{background-position: calc(13 * -24px) calc(15 * -24px); }
.emoji-point_down{background-position: calc(13 * -24px) calc(16 * -24px); }
.emoji-point_left{background-position: calc(13 * -24px) calc(17 * -24px); }
.emoji-point_right{background-position: calc(13 * -24px) calc(18 * -24px); }
.emoji-punch{background-position: calc(13 * -24px) calc(19 * -24px); }
.emoji-shake{background-position: calc(13 * -24px) calc(20 * -24px); }
.emoji-ok{background-position: calc(13 * -24px) calc(21 * -24px); }
.emoji-thumbs_up{background-position: calc(13 * -24px) calc(22 * -24px); }
.emoji-thumps_down{background-position: calc(13 * -24px) calc(23 * -24px); }
.emoji-clapping{background-position: calc(13 * -24px) calc(24 * -24px); }
.emoji-butterfly{background-position: calc(13 * -24px) calc(25 * -24px); }
.emoji-crown{background-position: calc(13 * -24px) calc(26 * -24px); }
.emoji-hat{background-position: calc(13 * -24px) calc(27 * -24px); }
.emoji-glasses{background-position: calc(13 * -24px) calc(28 * -24px); }
.emoji-polo{background-position: calc(14 * -24px) calc(0 * -24px); }
.emoji-jeans{background-position: calc(14 * -24px) calc(1 * -24px); }
.emoji-dress{background-position: calc(14 * -24px) calc(2 * -24px); }
.emoji-kimono{background-position: calc(14 * -24px) calc(3 * -24px); }
.emoji-bikini{background-position: calc(14 * -24px) calc(4 * -24px); }
.emoji-blouse{background-position: calc(14 * -24px) calc(5 * -24px); }
.emoji-coin_purse{background-position: calc(14 * -24px) calc(6 * -24px); }
.emoji-purse{background-position: calc(14 * -24px) calc(7 * -24px); }
.emoji-zipper_pouch{background-position: calc(14 * -24px) calc(8 * -24px); }
.emoji-brown_shoe{background-position: calc(14 * -24px) calc(9 * -24px); }
.emoji-white-shoe{background-position: calc(14 * -24px) calc(10 * -24px); }
.emoji-heels{background-position: calc(14 * -24px) calc(11 * -24px); }
.emoji-sandals{background-position: calc(14 * -24px) calc(12 * -24px); }
.emoji-boots{background-position: calc(14 * -24px) calc(13 * -24px); }
.emoji-foot{background-position: calc(14 * -24px) calc(14 * -24px); }
.emoji-person{background-position: calc(14 * -24px) calc(15 * -24px); }
.emoji-people{background-position: calc(14 * -24px) calc(16 * -24px); }
.emoji-boy{background-position: calc(14 * -24px) calc(17 * -24px); }
.emoji-girl{background-position: calc(14 * -24px) calc(18 * -24px); }
.emoji-man{background-position: calc(14 * -24px) calc(19 * -24px); }
.emoji-woman{background-position: calc(14 * -24px) calc(20 * -24px); }
.emoji-family{background-position: calc(14 * -24px) calc(21 * -24px); }
.emoji-couple{background-position: calc(14 * -24px) calc(22 * -24px); }
.emoji-couple2{background-position: calc(14 * -24px) calc(23 * -24px); }
.emoji-couple3{background-position: calc(14 * -24px) calc(24 * -24px); }
.emoji-police{background-position: calc(14 * -24px) calc(25 * -24px); }
.emoji-dancers{background-position: calc(14 * -24px) calc(26 * -24px); }
.emoji-bride{background-position: calc(14 * -24px) calc(27 * -24px); }
.emoji-blonde{background-position: calc(14 * -24px) calc(28 * -24px); }
.emoji-turban{background-position: calc(15 * -24px) calc(0 * -24px); }
.emoji-old_man{background-position: calc(15 * -24px) calc(1 * -24px); }
.emoji-old_women{background-position: calc(15 * -24px) calc(2 * -24px); }
.emoji-baby{background-position: calc(15 * -24px) calc(3 * -24px); }
.emoji-construction_worker{background-position: calc(15 * -24px) calc(4 * -24px); }
.emoji-princess{background-position: calc(15 * -24px) calc(5 * -24px); }
.emoji-devil{background-position: calc(15 * -24px) calc(6 * -24px); }
.emoji-devil_mask{background-position: calc(15 * -24px) calc(7 * -24px); }
.emoji-ghost{background-position: calc(15 * -24px) calc(8 * -24px); }
.emoji-angel{background-position: calc(15 * -24px) calc(9 * -24px); }
.emoji-alien{background-position: calc(15 * -24px) calc(10 * -24px); }
.emoji-invader{background-position: calc(15 * -24px) calc(11 * -24px); }
.emoji-purple_devil{background-position: calc(15 * -24px) calc(12 * -24px); }
.emoji-skull{background-position: calc(15 * -24px) calc(13 * -24px); }
.emoji-server{background-position: calc(15 * -24px) calc(14 * -24px); }
.emoji-royal_guard{background-position: calc(15 * -24px) calc(15 * -24px); }
.emoji-salsa{background-position: calc(15 * -24px) calc(16 * -24px); }
.emoji-lip_stick{background-position: calc(15 * -24px) calc(17 * -24px); }
.emoji-nail_polish{background-position: calc(15 * -24px) calc(18 * -24px); }
.emoji-massage{background-position: calc(15 * -24px) calc(19 * -24px); }
.emoji-haircut{background-position: calc(15 * -24px) calc(20 * -24px); }
.emoji-barber{background-position: calc(15 * -24px) calc(21 * -24px); }
.emoji-injection{background-position: calc(15 * -24px) calc(22 * -24px); }
.emoji-pill{background-position: calc(15 * -24px) calc(23 * -24px); }
.emoji-lips{background-position: calc(15 * -24px) calc(24 * -24px); }
.emoji-love_mail{background-position: calc(15 * -24px) calc(25 * -24px); }
.emoji-ring{background-position: calc(15 * -24px) calc(26 * -24px); }
.emoji-diamond{background-position: calc(15 * -24px) calc(27 * -24px); }
.emoji-love_couple{background-position: calc(15 * -24px) calc(28 * -24px); }
.emoji-love_couple2{background-position: calc(16 * -24px) calc(0 * -24px); }
.emoji-wedding{background-position: calc(16 * -24px) calc(1 * -24px); }
.emoji-buzzing_heart{background-position: calc(16 * -24px) calc(2 * -24px); }
.emoji-broken_heart{background-position: calc(16 * -24px) calc(3 * -24px); }
.emoji-couple_heart{background-position: calc(16 * -24px) calc(4 * -24px); }
.emoji-sparkle_heart{background-position: calc(16 * -24px) calc(5 * -24px); }
.emoji-scaling_heart{background-position: calc(16 * -24px) calc(6 * -24px); }
.emoji-arrow_heart{background-position: calc(16 * -24px) calc(7 * -24px); }
.emoji-blue_heart{background-position: calc(16 * -24px) calc(8 * -24px); }
.emoji-green_heart{background-position: calc(16 * -24px) calc(9 * -24px); }
.emoji-yellow_heart{background-position: calc(16 * -24px) calc(10 * -24px); }
.emoji-purple_heart{background-position: calc(16 * -24px) calc(11 * -24px); }
.emoji-bow_heart{background-position: calc(16 * -24px) calc(12 * -24px); }
.emoji-spinning_heart{background-position: calc(16 * -24px) calc(13 * -24px); }
.emoji-box_heart{background-position: calc(16 * -24px) calc(14 * -24px); }
.emoji-blue_diamond{background-position: calc(16 * -24px) calc(15 * -24px); }
.emoji-lightbulb{background-position: calc(16 * -24px) calc(16 * -24px); }
.emoji-pressure{background-position: calc(16 * -24px) calc(17 * -24px); }
.emoji-bomb{background-position: calc(16 * -24px) calc(18 * -24px); }
.emoji-sleep{background-position: calc(16 * -24px) calc(19 * -24px); }
.emoji-kaboom{background-position: calc(16 * -24px) calc(20 * -24px); }
.emoji-droplets{background-position: calc(16 * -24px) calc(21 * -24px); }
.emoji-droplet{background-position: calc(16 * -24px) calc(22 * -24px); }
.emoji-fart{background-position: calc(16 * -24px) calc(23 * -24px); }
.emoji-poop{background-position: calc(16 * -24px) calc(24 * -24px); }
.emoji-flex{background-position: calc(16 * -24px) calc(25 * -24px); }
.emoji-spinning_star{background-position: calc(16 * -24px) calc(26 * -24px); }
.emoji-message_bubble{background-position: calc(16 * -24px) calc(27 * -24px); }
.emoji-thought_bubble{background-position: calc(16 * -24px) calc(28 * -24px); }
.emoji-100{background-position: calc(17 * -24px) calc(0 * -24px); }
.emoji-money_bag{background-position: calc(17 * -24px) calc(1 * -24px); }
.emoji-currency_exchange{background-position: calc(17 * -24px) calc(2 * -24px); }
.emoji-dollar_sign{background-position: calc(17 * -24px) calc(3 * -24px); }
.emoji-credit_card{background-position: calc(17 * -24px) calc(4 * -24px); }
.emoji-yen{background-position: calc(17 * -24px) calc(5 * -24px); }
.emoji-dollars{background-position: calc(17 * -24px) calc(6 * -24px); }
.emoji-euro{background-position: calc(17 * -24px) calc(7 * -24px); }
.emoji-pounds{background-position: calc(17 * -24px) calc(8 * -24px); }
.emoji-flying_money{background-position: calc(17 * -24px) calc(9 * -24px); }
.emoji-stock{background-position: calc(17 * -24px) calc(10 * -24px); }
.emoji-plane_seat{background-position: calc(17 * -24px) calc(11 * -24px); }
.emoji-computer{background-position: calc(17 * -24px) calc(12 * -24px); }
.emoji-briefcase{background-position: calc(17 * -24px) calc(13 * -24px); }
.emoji-cd_case{background-position: calc(17 * -24px) calc(14 * -24px); }
.emoji-floppy{background-position: calc(17 * -24px) calc(15 * -24px); }
.emoji-cd{background-position: calc(17 * -24px) calc(16 * -24px); }
.emoji-cd_gold{background-position: calc(17 * -24px) calc(17 * -24px); }
.emoji-folder{background-position: calc(17 * -24px) calc(18 * -24px); }
.emoji-folder_open{background-position: calc(17 * -24px) calc(19 * -24px); }
.emoji-paper_roll{background-position: calc(17 * -24px) calc(20 * -24px); }
.emoji-document{background-position: calc(17 * -24px) calc(21 * -24px); }
.emoji-calender{background-position: calc(17 * -24px) calc(22 * -24px); }
.emoji-calender_small{background-position: calc(17 * -24px) calc(23 * -24px); }
.emoji-contact_cards{background-position: calc(17 * -24px) calc(24 * -24px); }
.emoji-stocks_up{background-position: calc(17 * -24px) calc(25 * -24px); }
.emoji-stocks_down{background-position: calc(17 * -24px) calc(26 * -24px); }
.emoji-bar_graph{background-position: calc(17 * -24px) calc(27 * -24px); }
.emoji-clipboard{background-position: calc(17 * -24px) calc(28 * -24px); }
.emoji-geo_pin{background-position: calc(18 * -24px) calc(0 * -24px); }
.emoji-paper_clip{background-position: calc(18 * -24px) calc(1 * -24px); }
.emoji-ruler{background-position: calc(18 * -24px) calc(2 * -24px); }
.emoji-triangle{background-position: calc(18 * -24px) calc(3 * -24px); }
.emoji-documents{background-position: calc(18 * -24px) calc(4 * -24px); }
.emoji-yellow_notebook{background-position: calc(18 * -24px) calc(5 * -24px); }
.emoji-composition_book{background-position: calc(18 * -24px) calc(6 * -24px); }
.emoji-notebook{background-position: calc(18 * -24px) calc(7 * -24px); }
.emoji-notebook_red{background-position: calc(18 * -24px) calc(8 * -24px); }
.emoji-book_open{background-position: calc(18 * -24px) calc(9 * -24px); }
.emoji-notebook_green{background-position: calc(18 * -24px) calc(10 * -24px); }
.emoji-notebook_blue{background-position: calc(18 * -24px) calc(11 * -24px); }
.emoji-notebook_orange{background-position: calc(18 * -24px) calc(12 * -24px); }
.emoji-notebook_stacked{background-position: calc(18 * -24px) calc(13 * -24px); }
.emoji-fire_note{background-position: calc(18 * -24px) calc(14 * -24px); }
.emoji-scroll{background-position: calc(18 * -24px) calc(15 * -24px); }
.emoji-text_edit{background-position: calc(18 * -24px) calc(16 * -24px); }
.emoji-phone{background-position: calc(18 * -24px) calc(17 * -24px); }
.emoji-pager{background-position: calc(18 * -24px) calc(18 * -24px); }
.emoji-fax{background-position: calc(18 * -24px) calc(19 * -24px); }
.emoji-satelite{background-position: calc(18 * -24px) calc(20 * -24px); }
.emoji-megaphone{background-position: calc(18 * -24px) calc(21 * -24px); }
.emoji-speaker{background-position: calc(18 * -24px) calc(22 * -24px); }
.emoji-outbox{background-position: calc(18 * -24px) calc(23 * -24px); }
.emoji-inbox{background-position: calc(18 * -24px) calc(24 * -24px); }
.emoji-package{background-position: calc(18 * -24px) calc(25 * -24px); }
.emoji-email{background-position: calc(18 * -24px) calc(26 * -24px); }
.emoji-hot_mail{background-position: calc(18 * -24px) calc(27 * -24px); }
.emoji-sent_mail{background-position: calc(18 * -24px) calc(28 * -24px); }
.emoji-mailbox{background-position: calc(19 * -24px) calc(0 * -24px); }
.emoji-mailbox_send{background-position: calc(19 * -24px) calc(1 * -24px); }
.emoji-mailbox_empty{background-position: calc(19 * -24px) calc(2 * -24px); }
.emoji-drop_mailbox{background-position: calc(19 * -24px) calc(3 * -24px); }
.emoji-trumpet_horn{background-position: calc(19 * -24px) calc(4 * -24px); }
.emoji-newspaper{background-position: calc(19 * -24px) calc(5 * -24px); }
.emoji-iphone{background-position: calc(19 * -24px) calc(6 * -24px); }
.emoji-in_iphone{background-position: calc(19 * -24px) calc(7 * -24px); }
.emoji-love_phone{background-position: calc(19 * -24px) calc(8 * -24px); }
.emoji-phone_off{background-position: calc(19 * -24px) calc(9 * -24px); }
.emoji-no_phone{background-position: calc(19 * -24px) calc(10 * -24px); }
.emoji-signal{background-position: calc(19 * -24px) calc(11 * -24px); }
.emoji-camera{background-position: calc(19 * -24px) calc(12 * -24px); }
.emoji-camcorder{background-position: calc(19 * -24px) calc(13 * -24px); }
.emoji-tv{background-position: calc(19 * -24px) calc(14 * -24px); }
.emoji-radio{background-position: calc(19 * -24px) calc(15 * -24px); }
.emoji-vhs{background-position: calc(19 * -24px) calc(16 * -24px); }
.emoji-random{background-position: calc(19 * -24px) calc(17 * -24px); }
.emoji-repeat{background-position: calc(19 * -24px) calc(18 * -24px); }
.emoji-repeat1{background-position: calc(19 * -24px) calc(19 * -24px); }
.emoji-repeat_up{background-position: calc(19 * -24px) calc(20 * -24px); }
.emoji-cycle{background-position: calc(19 * -24px) calc(21 * -24px); }
.emoji-brightness_less{background-position: calc(19 * -24px) calc(22 * -24px); }
.emoji-brightness_more{background-position: calc(19 * -24px) calc(23 * -24px); }
.emoji-mute{background-position: calc(19 * -24px) calc(24 * -24px); }
.emoji-sound{background-position: calc(19 * -24px) calc(25 * -24px); }
.emoji-sound_less{background-position: calc(19 * -24px) calc(26 * -24px); }
.emoji-sound_more{background-position: calc(19 * -24px) calc(27 * -24px); }
.emoji-battery{background-position: calc(19 * -24px) calc(28 * -24px); }
.emoji-magnify_glass{background-position: calc(20 * -24px) calc(0 * -24px); }
.emoji-magnify_glass{background-position: calc(20 * -24px) calc(1 * -24px); }
.emoji-pen_lock{background-position: calc(20 * -24px) calc(2 * -24px); }
.emoji-key_lock{background-position: calc(20 * -24px) calc(3 * -24px); }
.emoji-key{background-position: calc(20 * -24px) calc(4 * -24px); }
.emoji-lock{background-position: calc(20 * -24px) calc(5 * -24px); }
.emoji-lock_open{background-position: calc(20 * -24px) calc(6 * -24px); }
.emoji-bell{background-position: calc(20 * -24px) calc(7 * -24px); }
.emoji-bell_mute{background-position: calc(20 * -24px) calc(8 * -24px); }
.emoji-label{background-position: calc(20 * -24px) calc(9 * -24px); }
.emoji-chainlink{background-position: calc(20 * -24px) calc(10 * -24px); }
.emoji-button{background-position: calc(20 * -24px) calc(11 * -24px); }
.emoji-back_arrow{background-position: calc(20 * -24px) calc(12 * -24px); }
.emoji-end_arrow{background-position: calc(20 * -24px) calc(13 * -24px); }
.emoji-on_arrow{background-position: calc(20 * -24px) calc(14 * -24px); }
.emoji-soon_arrow{background-position: calc(20 * -24px) calc(15 * -24px); }
.emoji-top{background-position: calc(20 * -24px) calc(16 * -24px); }
.emoji-no_18{background-position: calc(20 * -24px) calc(17 * -24px); }
.emoji-10{background-position: calc(20 * -24px) calc(18 * -24px); }
.emoji-uppercase{background-position: calc(20 * -24px) calc(19 * -24px); }
.emoji-lowercase{background-position: calc(20 * -24px) calc(20 * -24px); }
.emoji-numbers{background-position: calc(20 * -24px) calc(21 * -24px); }
.emoji-symbols{background-position: calc(20 * -24px) calc(22 * -24px); }
.emoji-abc{background-position: calc(20 * -24px) calc(23 * -24px); }
.emoji-fire{background-position: calc(20 * -24px) calc(24 * -24px); }
.emoji-flash_light{background-position: calc(20 * -24px) calc(25 * -24px); }
.emoji-wrench{background-position: calc(20 * -24px) calc(26 * -24px); }
.emoji-gavel{background-position: calc(20 * -24px) calc(27 * -24px); }
.emoji-nut_bolt{background-position: calc(20 * -24px) calc(28 * -24px); }
.emoji-gun{background-position: calc(21 * -24px) calc(0 * -24px); }
.emoji-microscope{background-position: calc(21 * -24px) calc(1 * -24px); }
.emoji-telescope{background-position: calc(21 * -24px) calc(2 * -24px); }
.emoji-crystal_ball{background-position: calc(21 * -24px) calc(3 * -24px); }
.emoji-star_david{background-position: calc(21 * -24px) calc(4 * -24px); }
.emoji-chevron{background-position: calc(21 * -24px) calc(5 * -24px); }
.emoji-anchor_symbol{background-position: calc(21 * -24px) calc(6 * -24px); }
.emoji-black_white_box{background-position: calc(21 * -24px) calc(7 * -24px); }
.emoji-white_black_box{background-position: calc(21 * -24px) calc(8 * -24px); }
.emoji-red_cicle{background-position: calc(21 * -24px) calc(9 * -24px); }
.emoji-blue_circle{background-position: calc(21 * -24px) calc(10 * -24px); }
.emoji-orange_diamond{background-position: calc(21 * -24px) calc(11 * -24px); }
.emoji-blue_diamond{background-position: calc(21 * -24px) calc(12 * -24px); }
.emoji-orange_diamond_small{background-position: calc(21 * -24px) calc(13 * -24px); }
.emoji-blue_diamond_small{background-position: calc(21 * -24px) calc(14 * -24px); }
.emoji-triangle_red_up{background-position: calc(21 * -24px) calc(15 * -24px); }
.emoji-triangle_red_down{background-position: calc(21 * -24px) calc(16 * -24px); }
.emoji-triangle_up{background-position: calc(21 * -24px) calc(17 * -24px); }
.emoji-triangle_down{background-position: calc(21 * -24px) calc(18 * -24px); }
.emoji-1205{background-position: calc(21 * -24px) calc(19 * -24px); }
.emoji-1210{background-position: calc(21 * -24px) calc(20 * -24px); }
.emoji-1215{background-position: calc(21 * -24px) calc(21 * -24px); }
.emoji-1220{background-position: calc(21 * -24px) calc(22 * -24px); }
.emoji-1225{background-position: calc(21 * -24px) calc(23 * -24px); }
.emoji-1230{background-position: calc(21 * -24px) calc(24 * -24px); }
.emoji-1235{background-position: calc(21 * -24px) calc(25 * -24px); }
.emoji-1240{background-position: calc(21 * -24px) calc(26 * -24px); }
.emoji-1245{background-position: calc(21 * -24px) calc(27 * -24px); }
.emoji-1250{background-position: calc(21 * -24px) calc(28 * -24px); }
.emoji-1200{background-position: calc(22 * -24px) calc(0 * -24px); }
.emoji-605{background-position: calc(22 * -24px) calc(1 * -24px); }
.emoji-610{background-position: calc(22 * -24px) calc(2 * -24px); }
.emoji-615{background-position: calc(22 * -24px) calc(3 * -24px); }
.emoji-620{background-position: calc(22 * -24px) calc(4 * -24px); }
.emoji-625{background-position: calc(22 * -24px) calc(5 * -24px); }
.emoji-630{background-position: calc(22 * -24px) calc(6 * -24px); }
.emoji-635{background-position: calc(22 * -24px) calc(7 * -24px); }
.emoji-640{background-position: calc(22 * -24px) calc(8 * -24px); }
.emoji-645{background-position: calc(22 * -24px) calc(9 * -24px); }
.emoji-650{background-position: calc(22 * -24px) calc(10 * -24px); }
.emoji-655{background-position: calc(22 * -24px) calc(11 * -24px); }
.emoji-600{background-position: calc(22 * -24px) calc(12 * -24px); }
.emoji-mountain{background-position: calc(22 * -24px) calc(13 * -24px); }
.emoji-tokyo_tower{background-position: calc(22 * -24px) calc(14 * -24px); }
.emoji-statue_liberty{background-position: calc(22 * -24px) calc(15 * -24px); }
.emoji-japan{background-position: calc(22 * -24px) calc(16 * -24px); }
.emoji-easter_island{background-position: calc(22 * -24px) calc(17 * -24px); }
.emoji-cry{background-position: calc(22 * -24px) calc(18 * -24px); }
.emoji-teeth_grim{background-position: calc(22 * -24px) calc(19 * -24px); }
.emoji-tears_joy{background-position: calc(22 * -24px) calc(20 * -24px); }
.emoji-smile2{background-position: calc(22 * -24px) calc(21 * -24px); }
.emoji-smile3{background-position: calc(22 * -24px) calc(22 * -24px); }
.emoji-smile_sweat{background-position: calc(22 * -24px) calc(23 * -24px); }
.emoji-excited{background-position: calc(22 * -24px) calc(24 * -24px); }
.emoji-angel_emoji{background-position: calc(22 * -24px) calc(25 * -24px); }
.emoji-devil_emoji{background-position: calc(22 * -24px) calc(26 * -24px); }
.emoji-wink{background-position: calc(22 * -24px) calc(27 * -24px); }
.emoji-blush{background-position: calc(22 * -24px) calc(28 * -24px); }
.emoji-apprciate{background-position: calc(23 * -24px) calc(0 * -24px); }
.emoji-in_love{background-position: calc(23 * -24px) calc(1 * -24px); }
.emoji-cool{background-position: calc(23 * -24px) calc(2 * -24px); }
.emoji-how_you_doing{background-position: calc(23 * -24px) calc(3 * -24px); }
.emoji-avg{background-position: calc(23 * -24px) calc(4 * -24px); }
.emoji-mer{background-position: calc(23 * -24px) calc(5 * -24px); }
.emoji-disgust{background-position: calc(23 * -24px) calc(6 * -24px); }
.emoji-disgust_sweat{background-position: calc(23 * -24px) calc(7 * -24px); }
.emoji-sadness{background-position: calc(23 * -24px) calc(8 * -24px); }
.emoji-disappointment{background-position: calc(23 * -24px) calc(9 * -24px); }
.emoji-gross{background-position: calc(23 * -24px) calc(10 * -24px); }
.emoji-kiss{background-position: calc(23 * -24px) calc(11 * -24px); }
.emoji-kiss_love{background-position: calc(23 * -24px) calc(12 * -24px); }
.emoji-kiss2{background-position: calc(23 * -24px) calc(13 * -24px); }
.emoji-kiss_blush{background-position: calc(23 * -24px) calc(14 * -24px); }
.emoji-tounge_out{background-position: calc(23 * -24px) calc(15 * -24px); }
.emoji-tounge_out_wink{background-position: calc(23 * -24px) calc(16 * -24px); }
.emoji-tounge_out_squint{background-position: calc(23 * -24px) calc(17 * -24px); }
.emoji-sadness2{background-position: calc(23 * -24px) calc(18 * -24px); }
.emoji-wat{background-position: calc(23 * -24px) calc(19 * -24px); }
.emoji-angry{background-position: calc(23 * -24px) calc(20 * -24px); }
.emoji-angry_red{background-position: calc(23 * -24px) calc(21 * -24px); }
.emoji-sadness_cry{background-position: calc(23 * -24px) calc(22 * -24px); }
.emoji-sadness_squint{background-position: calc(23 * -24px) calc(23 * -24px); }
.emoji-steaming{background-position: calc(23 * -24px) calc(24 * -24px); }
.emoji-sadness_sweat{background-position: calc(23 * -24px) calc(25 * -24px); }
.emoji-dismay{background-position: calc(23 * -24px) calc(26 * -24px); }
.emoji-dismay2{background-position: calc(23 * -24px) calc(27 * -24px); }
.emoji-dismay3{background-position: calc(23 * -24px) calc(28 * -24px); }
.emoji-ugh{background-position: calc(24 * -24px) calc(0 * -24px); }
.emoji-cry_squint{background-position: calc(24 * -24px) calc(1 * -24px); }
.emoji-grin_teeth{background-position: calc(24 * -24px) calc(2 * -24px); }
.emoji-weeping{background-position: calc(24 * -24px) calc(3 * -24px); }
.emoji-oh{background-position: calc(24 * -24px) calc(4 * -24px); }
.emoji-ohoh{background-position: calc(24 * -24px) calc(5 * -24px); }
.emoji-sadness_cry2{background-position: calc(24 * -24px) calc(6 * -24px); }
.emoji-shock{background-position: calc(24 * -24px) calc(7 * -24px); }
.emoji-dead{background-position: calc(24 * -24px) calc(8 * -24px); }
.emoji-embarrass{background-position: calc(24 * -24px) calc(9 * -24px); }
.emoji-sleep{background-position: calc(24 * -24px) calc(10 * -24px); }
.emoji-dead2{background-position: calc(24 * -24px) calc(11 * -24px); }
.emoji-no_mouth{background-position: calc(24 * -24px) calc(12 * -24px); }
.emoji-sick{background-position: calc(24 * -24px) calc(13 * -24px); }
.emoji-cat_happy{background-position: calc(24 * -24px) calc(14 * -24px); }
.emoji-cat_tears_joy{background-position: calc(24 * -24px) calc(15 * -24px); }
.emoji-cat_happy2{background-position: calc(24 * -24px) calc(16 * -24px); }
.emoji-cat_love{background-position: calc(24 * -24px) calc(17 * -24px); }
.emoji-cat_scheming{background-position: calc(24 * -24px) calc(18 * -24px); }
.emoji-cat_kiss{background-position: calc(24 * -24px) calc(19 * -24px); }
.emoji-cat_side_angry{background-position: calc(24 * -24px) calc(20 * -24px); }
.emoji-cat_cry{background-position: calc(24 * -24px) calc(21 * -24px); }
.emoji-cat_shock{background-position: calc(24 * -24px) calc(22 * -24px); }
.emoji-girl_cross{background-position: calc(24 * -24px) calc(23 * -24px); }
.emoji-girl_head{background-position: calc(24 * -24px) calc(24 * -24px); }
.emoji-nap{background-position: calc(24 * -24px) calc(25 * -24px); }
.emoji-monkey_no_see{background-position: calc(24 * -24px) calc(26 * -24px); }
.emoji-monkey_no_hear{background-position: calc(24 * -24px) calc(27 * -24px); }
.emoji-monkey_no_speak{background-position: calc(24 * -24px) calc(28 * -24px); }
.emoji-goal{background-position: calc(25 * -24px) calc(0 * -24px); }
.emoji-girl_sad{background-position: calc(25 * -24px) calc(1 * -24px); }
.emoji-girl_confused{background-position: calc(25 * -24px) calc(2 * -24px); }
.emoji-pray{background-position: calc(25 * -24px) calc(3 * -24px); }
.emoji-rocket{background-position: calc(25 * -24px) calc(4 * -24px); }
.emoji-helicopter{background-position: calc(25 * -24px) calc(5 * -24px); }
.emoji-steamtrain{background-position: calc(25 * -24px) calc(6 * -24px); }
.emoji-traincar{background-position: calc(25 * -24px) calc(7 * -24px); }
.emoji-train_side{background-position: calc(25 * -24px) calc(8 * -24px); }
.emoji-train_front{background-position: calc(25 * -24px) calc(9 * -24px); }
.emoji-train_front2{background-position: calc(25 * -24px) calc(10 * -24px); }
.emoji-train_icon{background-position: calc(25 * -24px) calc(11 * -24px); }
.emoji-monorail{background-position: calc(25 * -24px) calc(12 * -24px); }
.emoji-train_stop{background-position: calc(25 * -24px) calc(13 * -24px); }
.emoji-metro{background-position: calc(25 * -24px) calc(14 * -24px); }
.emoji-traincar2{background-position: calc(25 * -24px) calc(15 * -24px); }
.emoji-bus{background-position: calc(25 * -24px) calc(16 * -24px); }
.emoji-bus_front{background-position: calc(25 * -24px) calc(17 * -24px); }
.emoji-lightrail{background-position: calc(25 * -24px) calc(18 * -24px); }
.emoji-train_sign{background-position: calc(25 * -24px) calc(19 * -24px); }
.emoji-van{background-position: calc(25 * -24px) calc(20 * -24px); }
.emoji-ambulance{background-position: calc(25 * -24px) calc(21 * -24px); }
.emoji-firetruck{background-position: calc(25 * -24px) calc(22 * -24px); }
.emoji-policecar{background-position: calc(25 * -24px) calc(23 * -24px); }
.emoji-policecar_front{background-position: calc(25 * -24px) calc(24 * -24px); }
.emoji-taxi{background-position: calc(25 * -24px) calc(25 * -24px); }
.emoji-taxi_front{background-position: calc(25 * -24px) calc(26 * -24px); }
.emoji-car_red{background-position: calc(25 * -24px) calc(27 * -24px); }
.emoji-car_blue{background-position: calc(25 * -24px) calc(28 * -24px); }
.emoji-truck{background-position: calc(26 * -24px) calc(0 * -24px); }
.emoji-truck_green{background-position: calc(26 * -24px) calc(1 * -24px); }
.emoji-tractor{background-position: calc(26 * -24px) calc(2 * -24px); }
.emoji-monorail2{background-position: calc(26 * -24px) calc(3 * -24px); }
.emoji-mountain_train{background-position: calc(26 * -24px) calc(4 * -24px); }
.emoji-hanging_train{background-position: calc(26 * -24px) calc(5 * -24px); }
.emoji-cablecar_big{background-position: calc(26 * -24px) calc(6 * -24px); }
.emoji-cablecar_small{background-position: calc(26 * -24px) calc(7 * -24px); }
.emoji-cruise{background-position: calc(26 * -24px) calc(8 * -24px); }
.emoji-row_boat{background-position: calc(26 * -24px) calc(9 * -24px); }
.emoji-speed_boat{background-position: calc(26 * -24px) calc(10 * -24px); }
.emoji-traffic_light_horizontal{background-position: calc(26 * -24px) calc(11 * -24px); }
.emoji-traffic_light_vertical{background-position: calc(26 * -24px) calc(12 * -24px); }
.emoji-caution_barrier{background-position: calc(26 * -24px) calc(13 * -24px); }
.emoji-flashing_light{background-position: calc(26 * -24px) calc(14 * -24px); }
.emoji-flag_tri{background-position: calc(26 * -24px) calc(15 * -24px); }
.emoji-door{background-position: calc(26 * -24px) calc(16 * -24px); }
.emoji-no_sign{background-position: calc(26 * -24px) calc(17 * -24px); }
.emoji-smoking{background-position: calc(26 * -24px) calc(18 * -24px); }
.emoji-no_smoking{background-position: calc(26 * -24px) calc(19 * -24px); }
.emoji-litter{background-position: calc(26 * -24px) calc(20 * -24px); }
.emoji-litter2{background-position: calc(26 * -24px) calc(21 * -24px); }
.emoji-water{background-position: calc(26 * -24px) calc(22 * -24px); }
.emoji-no_water{background-position: calc(26 * -24px) calc(23 * -24px); }
.emoji-bike{background-position: calc(26 * -24px) calc(24 * -24px); }
.emoji-no_bike{background-position: calc(26 * -24px) calc(25 * -24px); }
.emoji-biking{background-position: calc(26 * -24px) calc(26 * -24px); }
.emoji-biking2{background-position: calc(26 * -24px) calc(27 * -24px); }
.emoji-dude{background-position: calc(26 * -24px) calc(28 * -24px); }
.emoji-crossing_sign{background-position: calc(27 * -24px) calc(0 * -24px); }
.emoji-male{background-position: calc(27 * -24px) calc(1 * -24px); }
.emoji-female{background-position: calc(27 * -24px) calc(2 * -24px); }
.emoji-couple_sign{background-position: calc(27 * -24px) calc(3 * -24px); }
.emoji-baby_sign{background-position: calc(27 * -24px) calc(4 * -24px); }
.emoji-toilet{background-position: calc(27 * -24px) calc(5 * -24px); }
.emoji-wc{background-position: calc(27 * -24px) calc(6 * -24px); }
.emoji-shower{background-position: calc(27 * -24px) calc(7 * -24px); }
.emoji-bath{background-position: calc(27 * -24px) calc(8 * -24px); }
.emoji-bath2{background-position: calc(27 * -24px) calc(9 * -24px); }
.emoji-immigration{background-position: calc(27 * -24px) calc(10 * -24px); }
.emoji-customs{background-position: calc(27 * -24px) calc(11 * -24px); }
.emoji-luggage{background-position: calc(27 * -24px) calc(12 * -24px); }
.emoji-luggage_storage{background-position: calc(27 * -24px) calc(13 * -24px); }
.emoji-hashtag{background-position: calc(27 * -24px) calc(14 * -24px); }
.emoji-0{background-position: calc(27 * -24px) calc(15 * -24px); }
.emoji-1{background-position: calc(27 * -24px) calc(16 * -24px); }
.emoji-2{background-position: calc(27 * -24px) calc(17 * -24px); }
.emoji-3{background-position: calc(27 * -24px) calc(18 * -24px); }
.emoji-4{background-position: calc(27 * -24px) calc(19 * -24px); }
.emoji-5{background-position: calc(27 * -24px) calc(20 * -24px); }
.emoji-6{background-position: calc(27 * -24px) calc(21 * -24px); }
.emoji-7{background-position: calc(27 * -24px) calc(22 * -24px); }
.emoji-8{background-position: calc(27 * -24px) calc(23 * -24px); }
.emoji-9{background-position: calc(27 * -24px) calc(24 * -24px); }
.emoji-china_flag{background-position: calc(27 * -24px) calc(25 * -24px); }
.emoji-germany_flag{background-position: calc(27 * -24px) calc(26 * -24px); }
.emoji-spain_flag{background-position: calc(27 * -24px) calc(27 * -24px); }
.emoji-france_flag{background-position: calc(27 * -24px) calc(28 * -24px); }
.emoji-italy_flag{background-position: calc(28 * -24px) calc(0 * -24px); }
.emoji-japan_flag{background-position: calc(28 * -24px) calc(1 * -24px); }
.emoji-korea_flag{background-position: calc(28 * -24px) calc(2 * -24px); }
.emoji-russia_flag{background-position: calc(28 * -24px) calc(3 * -24px); }
.emoji-usa_flag{background-position: calc(28 * -24px) calc(4 * -24px); }