---
  # Front matter comment to ensure Jekyll properly reads file.
---


//******* Variables

// Numbers
$color-percentage: 5%;
$tile-radius: 10px;
$pill-radius: 500px;
$recessed-shadow: 0px 10px 33px -10px;

// Colors
$signature-teal: #12abc4;
$royal-raspberry: #77013a;
$dio-grey: #666666;
$navy-black: #1f2937;
$pure-white: #ffffff;

$signature-teal-hover: #108da2;
$royal-raspberry-hover: #680032;

// Animations
$sprint: all 0.20s ease-in-out;
$run: all 0.30s ease-in-out;
$jog: all 0.50s ease-in-out;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
$maven: 'Maven Pro', sans-serif;
$maven-regular: 400;
$maven-medium: 500;
$maven-bold: 700;
$maven-black: 900;

@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,700&display=swap');
$zilla: 'Zilla Slab', serif;
$zilla-regular: 400;
$zilla-bold: 700;

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900&display=swap');
$lato: 'Lato', sans-serif;
$lato-light-italic: 300i;
$lato-regular: 400;
$lato-bold: 700;
$lato-black: 900;
//******* End of Variables

body {
  font-family: $lato;
  font-weight: $lato-regular;
  font-size: 20px; //1em
  color: $navy-black;
}

h1,
h2,
h3,
h4 {
  font-family: $zilla;
}

h4 {
  font-weight: $zilla-regular;
  margin-top: 2.5em;
}

article.post {
  width: 100%;
}

ul {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.image-container {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.thumbnail-container {
  position: relative; //For banner to show correctly
  display: block; //For banner to show correctly
  background-color: $navy-black;
  border-radius: $tile-radius;
  transition: $sprint;
  &:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: $recessed-shadow rgba($navy-black,0.75);
    -moz-box-shadow: $recessed-shadow rgba($navy-black,0.75);
    box-shadow: $recessed-shadow rgba($navy-black,0.75);
  }
  &:hover .thumbnail-text{
    opacity: 1;
    transition: $run;
  }
  &:hover .thumbnail-image{
    opacity: 0.8;
    transition: $run;
  }
  .thumbnail-image{
    border-radius: $tile-radius;
  }
}

.thumbnail-text {
  position: absolute;
  bottom: 1rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: $pure-white;
  opacity: 0;
  text-shadow: 0px 0px 5px $navy-black;
  font-size: 1.65em;
  line-height: 1em;
  text-align: center;
  font-weight: $zilla-bold;
  font-family: $zilla;
  @media screen and (max-width: 40em) {
    font-size: 1.4em;
  }
}

.thumbnail-tile {
  margin-bottom: 1.5em;
}

.banner {
  position: absolute;
  font-size: 0.8em;
  top: -1rem;
  right: -1rem;
  padding: 0.25em 1em 0.25em 1em;
  font-weight: $lato-bold;
  background-color: $signature-teal;
  color: $pure-white;
  border-radius: $pill-radius;
}

p {
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.slideshow-container{
  box-shadow: $recessed-shadow;
}

.image-center {
  margin: 0 auto;
  display: block;
}

::selection {
  color: $pure-white;
  background: $signature-teal;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.quote {
  font-size: 3.2em;
  line-height: 1.5em;
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.post-header{
  h1{
    font-weight: $zilla-bold;
  }
  .dateStamp {
    font-size: 1.1em;
    margin-top: -0.75em;
    font-weight: $zilla-regular;
    margin-bottom: 1em;
  }
}

iframe {
  height: 600px;
}

//******* Header Styling
.nav-container{
  background-color:$signature-teal;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 3em;
//  float: left;
  width: 100%;
  @media screen and (max-width: 40em) {
    margin-bottom: 1em;
  }
}

.menu{
  display: none;
}

.mobile-navbar-full{
  display: none;
}

.logo{
  float: right;
  img{
    height: 50px;
  }
}

.menu-hide{
  display: none;
}

.nav {
  color: $pure-white;
  padding: 0.7em;
  height: inherit;
  font-family: $zilla;
  font-weight: $zilla-bold;
  font-size: 1em;
}

.nav:hover {
  color: $pure-white;
  background-color: $signature-teal-hover;
  border-radius: $pill-radius;
}

.mobile-navbar{
  display: none;
  float: left;
  line-height: 2.5em;
}

.navbar {
  color: $pure-white;
  float: left;
  line-height: 2.5em;
}

.menu-container{
  .burger-icon{
    display: none;
    float: left;
    user-select: none;
    @media screen and (max-width: 40em) {
      display: block;
    }
  }
}

.burger-container{
  float: left;
  display: none;
  @media screen and (max-width: 40em) {
    display: block;
  }

}

.burger-icon, .burger-btn, .nav-burger-icon{
  user-select: none;
}

/* menu-links */
.menu-links {
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  margin-left: 0;
  user-select: none;
  display: none;
  a{
    color: $pure-white;
    font-family: $zilla;
    font-weight: $zilla-bold;
    font-size: 1.25em;
    border-radius: $pill-radius;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    &:hover{
      background-color: $signature-teal-hover;
    }
  }
}

.nav-item-container{
  font-size: 1.5em;
  &:first-of-type{
      margin-top: 1em;
    }
}

.nav-burger-icon {
  background: $signature-teal;
  display: block;
  height: 5px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  margin-top: 1.3em;
}

.nav-burger-icon:before,
.nav-burger-icon:after {
  background: $pure-white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav-burger-icon{
  &:before{
    top: 4px;
  }
  &:after{
    top: -4px;
  }
}

.burger-btn {
  display: none;
}

.burger-btn:checked ~ .menu-links {
  max-height: 340px;
  display: block;
  transition: $run;
}

.burger-btn:checked ~ .mobile-navbar{
  @media screen and (max-width: 40em) {
    display: none;
  }
}

.burger-btn:checked ~ .burger-icon .nav-burger-icon {
  background: transparent;
}

.burger-btn:checked ~ .burger-icon .nav-burger-icon:before {
  transform: rotate(-45deg);
}

.burger-btn:checked ~ .burger-icon .nav-burger-icon:after {
  transform: rotate(45deg);
}

.burger-btn:checked ~ .burger-icon:not(.steps) .nav-burger-icon:before,
.burger-btn:checked ~ .burger-icon:not(.steps) .nav-burger-icon:after {
  top: 0;
}
//******* End of Header Styling


//******* A Tag Underline Expand Styling
p, li, h3, #subTitle{
  a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: $signature-teal;
    padding: 0 1px;
    transition: $run;
  }

  a::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 11%;
    left: 0;
    bottom: 0;
    background-color: $signature-teal;
    transition: $run;
  }

  a:hover {
    color: $pure-white;
  }

  a:hover::after {
    height: 100%;
  }
}
//******* A Tag Underline Expand Styling


//******* Button Styling
.contentButton {
  width: 100%;
  font-size: 1.5em;
  color: $pure-white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-radius: $pill-radius;
  transition: $run;
}

.commandBarButton {
  background-color: #77013a;
  &:hover {
    background-color: darken(#77013a, $color-percentage); //#680032;
  }
}

.camleonButton {
  background-color: #6cbe45;
  &:hover {
    background-color: darken(#6cbe45, $color-percentage); //#66b342;
  }
}

.nycButton {
  background-color: #EA4D5B;
  &:hover {
    background-color: darken(#EA4D5B, $color-percentage); //#d74955;
  }
}

.processlyButton {
  background-color: #7C1F5E;
  &:hover {
    background-color: darken(#7C1F5E, $color-percentage); //#601A4C;
  }
}

.colorBotButton {
  background-color: #E82730;
  &:hover {
    background-color: darken(#E82730, $color-percentage); //#C62632;
  }
}

.thesisButton {
  background-color: #EA1864;
  &:hover {
    background-color: darken(#EA1864, $color-percentage); //#CC1962;
  }
}

.interchangeButton {
  background-color: #313131;
  &:hover {
    background-color: darken(#313131, $color-percentage); //#000000;
  }
}

.stickerPackButton {
  background-color: #55B7CC;
  &:hover {
    background-color: darken(#55B7CC, $color-percentage); //#4fa5b7;
  }
}

.stickerPackButtonNaara {
  background-color: #acdeea;
  &:hover{
    background-color: darken(#acdeea, $color-percentage);
  }
}

.qulrButton{
  background-color: #d4d4d4;
  &:hover{
    background-color: darken(#d4d4d4, $color-percentage);
  }
}

.techsoaButton{
  background-color: #00e59f;
  &:hover{
    background-color: darken(#00e59f, $color-percentage);
  }
}

.deepintheqButton{
  background-color: #870039;
  &:hover{
    background-color: darken(#870039, $color-percentage);
  }
}
//******* End of Button Styling


//******* 404 Styling
.title-404 {
  font-size: 3em;
  font-weight: $zilla-bold;
}

.words-404 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.outerspace {
  background-color: $navy-black;
  width: 100%;
  height: 300px;
  border-radius: $pill-radius;
  background-image: url(../img/giraffe.svg);
  background-repeat: no-repeat;
  background-position: 50% 50px;
  border-style: solid;
  border-color: $pure-white;
}
//******* End of 404 Styling


//******* About Page Styling
.bio {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: $lato-bold;
  h1{
    padding-left: 0;
    color: $navy-black;
    font-family: $zilla;
    font-weight: $zilla-bold;
    font-size: 3rem;
    margin-bottom: 0;
    span{
      font-size: 2.5rem;
    }
  }
  p{
    color: $navy-black;
    font-family: $lato;
    line-height: 36px; ///////////why EM NOT RESPONDING
    font-size: 26px; ///////////why EM NOT RESPONDING
    padding: 0;
    margin: 0;
    code{
      border-radius: $pill-radius;
      padding-left: 0.35em;
      padding-right: 0.35em;
      padding-bottom: 0.15em;
      background-color: rgba($navy-black,0.15);
      border-color: $navy-black;
      border-width: 0;
//      border-width: 0.1em;
    }
    @media screen and (max-width: 40em) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.work-experience, .speaking-events, .education, .skills, .tools{
  &:not(first-of-type){
    margin-top: 2em;
  }
  h2{
    font-size: 3.5em;
    color: rgba($navy-black, 0.15);
    font-weight: $lato-black;
    font-family: $lato;
    @media screen and (max-width: 40em) {
      line-height: 1em;
    }
    @media screen and (max-width: 64em) {
      line-height: 1em;
    }
  }
  .work-item, .speaking-item, .education-item{
    &:first-of-type{
      margin-top: -2.5em;
      @media screen and (max-width: 40em) {
        margin-top: -1.5em;
      }
      @media screen and (max-width: 64em) {
        margin-top: -1.5em;
      }
    }
    margin-top: 1rem;
    padding-left: 0.5rem;
    h3{
      font-family: $lato;
      color: $navy-black;
      font-size: 1em;
      font-weight: $lato-black;
      padding: 0;
      margin-bottom: 0;
    }
    p{
      padding: 0;
      margin: 0;
      margin-top: -0.25em;
    }
    .date{
      font-family: $lato;
      color: $navy-black;
      font-size: 1em;
      font-weight: 300;
      font-style: italic;
    }
    .description{
      font-family: $lato;
      color: $navy-black;
      font-size: 1em;
      font-weight: $lato-regular;
      line-height: 1.2em;
    }
    .brand-logo-container{
      position: absolute;
      opacity: 0.2;
      margin-left: -4em;
      transition: $run;
      padding-top: 0.5em;
      @media screen and (max-width: 40em) {
        display: none;
      }
      &#upmc{
        margin-left: -15.5em;
      }
      &#processly{
        margin-left: -4.2em;
        img{
          height: 3.3em;
        }
      }
      &#dio{
        margin-left: -5.6em;
      }
      &#cr{
        margin-left: -6em;
      }
      &#ucla{
        margin-left: -10.5em;
      }
      &#ces{
        margin-left: -6.5em;
      }
      &#aia{
        margin-left: -4em;
      }
      &#cmu{
        margin-left: -6em;
      }
      &#nus{
        margin-left: -8em;
      }
      &#yinzcam{
        margin-left: -12em;
      }
    }
    .brand-logo{
      float: right;
    }
    &:hover .brand-logo-container{
      opacity: 1;
    }
  }
}

.skills-container{
  margin-bottom: 1em;
}

.skills, .tools{
  h3{
    font-family: $lato;
    color: $navy-black;
    font-size: 1em;
    font-weight: $lato-black;
    padding: 0;
    margin-bottom: 0;
    &:first-of-type{
      margin-top: -2.5em;
      @media screen and (max-width: 40em) {
        margin-top: -1.5em;
      }
    }
  }
  .skills-item{
    display: inline-block;
    background-color: $navy-black;
    border-radius: $pill-radius;
    color: $pure-white;
    padding: 0.2em 0.6em 0.2em 0.6em;
    margin-right: 0.1em;
    margin-bottom: 0.4em;
  }
}

.background-shapes{
  position: absolute;
  .circle{
    position: absolute;
    z-index: -10;
    border-radius: 50%;
    animation-name: bubbles-animation;/* Refers to the name of your @keyframes element below */
    animation-duration: 5s;/* Change to speed up or slow down */
    animation-iteration-count: infinite;/* Never stop waving :) */
    transform-origin: bottom left;/* Pivot around the bottom-left palm */
    display: inline-block;
  }

  .circle1{
    width: 150px;
    height: 150px;
    background: #9c5ab7;
    left: calc(100% - 50px);
  }
  .circle2{
    width: 100px;
    height: 100px;
    background: #f2c50f;
    left: calc(100% / 2);
    top: 200px;
  }
}

#resumeButton {
  width: 100%;
  background-color: $royal-raspberry;
  font-size: 1em;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.25em;
  border-radius: $pill-radius;

  &:hover {
    background-color: $royal-raspberry-hover;
  }
}

.rainbow{
  background-image: linear-gradient(90deg,#00a2e2 0%,#1bad6b 20%,#fec609 40%,#e92687 60%,#6d358d 80%,#00a2e2 100%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s linear infinite;
}

span.wave {
  animation-name: wave-animation;/* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;/* Change to speed up or slow down */
  animation-iteration-count: infinite;/* Never stop waving :) */
  transform-origin: 70% 70%;/* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes rainbow {
  to {
    background-position: 200% center
  }
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }/* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }/* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}

@keyframes bubbles-animation {
    0% { transform: scale(  1) }
//   10% { transform: scale(0.8) }
//   20% { transform: scale(0.6) }
//   30% { transform: scale(1.5) }
//   40% { transform: scale(  1) }
   70% { transform: scale(0.9) }
  100% { transform: scale(  1) }
}
//******* End of About Page Styling

//******* Footer Styling

.social {
  width: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.social:hover {
  opacity: 0.8;
}

footer {
  margin-top: 50px;
  background-color: rgba($navy-black, 0.15);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (max-width: 40em) {
    margin-top: 1em;
  }
}

//******* End of Footer Styling


//******* Foundation Overrides
.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
  float: left;
}
//******* End of Foundation Overrides


//******* Mobile Styling

// Measurments pulled from foundation css file
// Mobile Styling
@media screen and (max-width: 40em) {
  body{
    font-size: 16px;
  }
  .outerspace {
    height: 700px;
    background-position: 50% 100px;
  }
  .title-404 {
    font-size: 64px;
  }
  .words-404 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .dateStamp {
    font-size: 16px;
  }
  iframe {
    height: 220px;
  }
  p{
    padding-left: 10px;
    padding-right: 10px;
  }
  .menu {
    display: block;
    float: left;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 13px;
    text-align: center;

    > svg {
      width: 18px;
      height: 15px;

      path {
        fill: $pure-white;
      }
    }
}
  .post-content{
    h2{
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-weight: $zilla-bold;
    }
  }
  .mobile-navbar{
    display: block;
    line-height: 40px;
  }

  .nav{
    padding: 10px;
    font-size: 16px;
  }

  .logo{
    img{
      height: 40px;
    }
  }

  .thumbnail-tile {
    margin-bottom: 20px;
  }

  .navbar {
      clear: both;
      display: none;
  }
  .outerspace{
    height: 200px;
    background-position: 50% 20px;
  }
  .post-header{
    padding-left: 0.5em;
  }
}

// Tablet Styling
@media screen and (max-width: 64em) {
  .post-header{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .post-content{
    h2{
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-weight: $zilla-bold;
    }
  }

}
//******* End of Mobile Styling
