---
layout: default
footer-main: true
---

<section class="site-intro grid-x cell align-center">
  <div class="cell grid-x medium-9 grid-padding-x">
    <div>
      <span class="watermark">Hello</span>
    </div>
    <div class="cell grid-y small-12 medium-shrink emoji-wrapper text-center">
      <div class="cell shrink plane">✈️</div>
      <div class="cell shrink">🌏 </div>
      <div class="cell shrink">📷 </div>
      <div class="cell shrink">🐧</div>
    </div>
    <div class="cell medium-auto">
      <h1>Hi there! I'm Rehan<span class="wave">👋</span></h1>
      <p>I am a <span class="rainbow">devzgner</span>, designer + developer, currently working on healthcare technology in Pittsburgh, PA, USA previously working with organizations like GE Healthcare & the NBA on consumer and enterprise applications.</p>
      <p><span class="plane-effect">I love to travel️</span>, and have been fortunate enough to live all over the world. Every day trying to bring the unique aspects of each culture into my work. In my free time, I enjoy photography and creating cute digital illustrations.</p>
      <a href="/about">Learn more about me</a>
    </div>
  </div>
</section>

{% assign project_order = site.projects | sort: 'date' | reverse %}

<section class="featured-projects">
{% for project in project_order %}
  {% if project.featured == true %}
  <div class="cell grid-x grid-padding-x feature-row align-center">
    <div class="cell medium-4 grid-x align-middle align-center text-wrapper">
      <div class="featured-text cell">
        <h2 class="">{{ project.tile-name }}</h2>
        <p class="">{{ project.tile-description }}</p>

        <div class="explore-wrapper">
          {% if project.external-link %}
          <a class="explore-button" rel="noopener" href="{{ project.external-link | prepend: site.baseurl }}" target="_blank">Explore<span class="visually-hidden">Opens a new window</span></a>
          {% else %}
          <a class="explore-button" href="{{ project.url | prepend: site.baseurl }}">Explore</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="medium-7 cell image-wrapper">
      {% if project.external-link %}
        <a class="" rel="noopener" href="{{ project.external-link | prepend: site.baseurl }}" target="_blank"><span class="visually-hidden">Opens a new window</span>
      {% else %}
        <a class="" href="{{ project.url | prepend: site.baseurl }}">
      {% endif %}
          <div class="thumbnail-container-featured">
            <img class="thumbnail-image-featured" src="img/thumbnails/{{ project.thumbnail | append: '-featured.jpg' }}" alt="{{ project.tile-name }} Tile">
          </div>
      </a>
    </div>
  </div>
  {% endif %}
{% endfor %}
  <div class="cell grid-x align-center grid-padding-x">
    <div class="cell small-12 medium-4">
      <a class="more-button" href="/portfolio">Explore more projects</a>
    </div>
  </div>
</section>


<section class="cell grid-x featured-resources-speaking grid-padding-x grid-margin-x grid-margin-y">
  <div class="cell small-12 medium-6 grid-x resources-container">
    <h2 class="cell">Resources</h2>
    <p class="cell section-description">A bunch references you may find useful. Here are a few of my most recent finds.</p>
    {% assign resources_sorted = site.resources | sort: 'date' | reverse %}
    {%- for resource in resources_sorted limit:3 -%}
      <a href="{{resource.link}}" target="_blank" rel="noreferrer" class="cell resource-link">
        <div class="resource">
          <p class="title">{{resource.title}}<i class="fas fa-link"></i></p>
          <p class="description">{{resource.description}}</p>
        </div>
      </a>
    {%- endfor -%}
    <a class="more-button cell align-self-bottom" href="/resources">More resources</a>

  </div>

  <div class="cell small-12 medium-6 grid-x speaking-container">
    <h2 class="cell">Speaking</h2>
    <p class="cell section-description">I speak on topics X Y and Z sharing what i know i enjoy etc.</p>
    <!-- upcoming speaking events -->

    <a class="more-button cell align-self-bottom" href="/about#speaking">More speaking</a>
  </div>
</section>


<!-- TODO decide on copy "2020 year in review" or "2020 in review" -->
{% assign yir_order = site.year-in-review | sort: 'year' | reverse %}

<section class="year-in-review grid-x grid-padding-x">
  <div class="cell">
    <h2>Year in Review <span class="time-travel">a little bit of time travel</span></h2>
  </div>

  {%- for year in yir_order -%}
  {% if year.current == true %}
  <div class="cell medium-4">
      <div class="year-container">
        <div class="year-square current-year">
          <span>{{year.year}}</span>
        </div>
        <div class="yir-label">
          {{year.year}} in progress
        </div>
      </div>
  </div>
  {% else %}
  <div class="cell medium-4">
    <a href="https://{{ year.year | append: ".rehanbutt.com" }}" target="_blank" rel="noopener">
      <div class="year-container">
        <div class="year-square" style="background: {{year.color}};">
          <div class="overlay">
          </div>
          <span>{{year.year}}</span>
        </div>
        <div class="yir-label">
          {{year.year}} in review
        </div>
      </div>
      <span class="visually-hidden">Opens a new window</span>
    </a>
  </div>
  {% endif %}
  {%- endfor -%}
</section>
