---
layout: default
---

{% assign project_order = site.projects | sort: 'date' | reverse %}

{% for project in project_order %}
  {% if project.featured == true %}
  <div class="medium-6 cell thumbnail-tile">
    {% if project.external-link %}
      <a class="post-link" rel="noopener" href="{{ project.external-link | prepend: site.baseurl }}" target="_blank">
    {% else %}
      <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
    {% endif %}
        <div class="thumbnail-container">
          <img class="thumbnail-image-featured" src="img/thumbnails/{{ project.thumbnail | append: '-featured.jpg' }}" alt="{{ project.tile-name }} Tile Image">
          <div class="featured-text">
            <span class="thumbnail-text-featured">{{ project.tile-name }}</span>
            <span class="thumbnail-description-featured">{{ project.tile-description }}</span>
          </div>
          {% if project.flag %}
          <span class="flag">{{ project.flag }}</span>
          {% endif %}
        </div>
    </a>
  </div>
  {% endif %}
{% endfor %}

{% for project in project_order %}
  {% if project.featured != true %}
  <div class="small-6 medium-4 large-3 cell thumbnail-tile">
    {% if project.external-link %}
      <a class="post-link" rel="noopener" href="{{ project.external-link | prepend: site.baseurl }}" target="_blank">
    {% else %}
      <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
    {% endif %}
        <div class="thumbnail-container">
          <img class="thumbnail-image" src="img/thumbnails/{{ project.thumbnail | append: '.png' }}" alt="{{ project.tile-name }} Tile Image">
          <span class="thumbnail-text">{{ project.tile-name }}</span>
          {% if project.flag %}
          <span class="flag">{{ project.flag }}</span>
          {% endif %}
        </div>
    </a>
  </div>
  {% endif %}
{% endfor %}
