---
layout: default
title: "Photography"
permalink: photography
footer-other: true
sort-order: 1
---
<h1 class="visually-hidden">Photography</h1>
{% assign photography_order = site.photography | sort: 'date' | reverse %}
{% for photoset in photography_order %}
{%- if photoset.big-tile -%}
  <div class="small-12 medium-12 cell photoset-tile">
{%- else -%}
  <div class="small-12 medium-6 cell photoset-tile">
{%- endif -%}
    <a class="post-link" href="{{ photoset.url | prepend: site.baseurl }}">
      <div class="thumbnail-container">
        <img class="thumbnail-image" src="../img/photography/thumbnails/{{ photoset.thumbnail }}" alt="{{photoset.thumbnail-alt}}">
        <div class="text-container">
          <h2 class="thumbnail-text">{{ photoset.title }}</h2>
          <span class="thumbnail-text-date">
            {%- assign photo-month = photoset.date| date: "%m" | plus:0 -%}
            {%- if photo-month >= 3 and photo-month < 6 -%}
              Spring
            {%- elsif photo-month >= 6 and photo-month < 9 -%}
              Summer
            {%- elsif photo-month >= 9 and photo-month < 12 -%}
              Fall
            {%- elsif photo-month >= 12 -%}
              Winter
            {%- elsif photo-month < 3 -%}
              Winter
            {%- endif -%}
            &nbsp;{{ photoset.date| date: "%Y" }}
          </span>
        </div>
        {% if photoset.flag %}
        <span class="flag">{{ photoset.flag }}</span>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}