---
layout: default
title: "Portfolio"
og-image: portfolio.jpg
permalink: portfolio

header-visibility: show
header-sort-order: 5
mobile-shortcut: 1

footer-section: main
footer-sort-order: 4
---

<h1 class="visually-hidden scaffold-grid-span-full">Projects</h1>

{% assign project_order = site.projects | sort: 'date' | reverse %}

{% for project in project_order %}
  <div class="thumbnail-tile scaffold-grid-span-half md:scaffold-grid-span-third">
    {%- capture tile -%}
        <div class="thumbnail-container">
          <img class="thumbnail-image" src="img/thumbnails/{{ project.thumbnail | append: '.png' }}" alt="{{ project.tile-name }} Tile">
          <span class="progressive-blur" aria-hidden="true"><i></i><i></i><i></i><i></i></span>
          <span class="thumbnail-caption">
            <span class="thumbnail-text">{{ project.tile-name }}</span>
            {%- if project.tags.size > 0 %}
            <span class="thumbnail-tags">
              {%- for tag in project.tags %}<span class="thumbnail-tag">{{ tag }}</span>{% endfor -%}
            </span>
            {%- endif %}
          </span>
          {% if project.flag %}
          <span class="flag">{{ project.flag }}</span>
          {% endif %}
        </div>
    {%- endcapture %}
    {% if project.external-link %}
      {%- assign tile_link = project.external-link | prepend: site.baseurl %}
      {% include external-link.html css-class="post-link" link=tile_link content=tile %}
    {% else %}
      <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ tile }}</a>
    {% endif %}
  </div>
{% endfor %}
