---
layout: default
title: "Resources"
permalink: resources
footer-other: true
sort-order: 2
---
<header class="resource-header">
  <h1>Resources</h1>
  <p>A bunch of resources and references curated by me, with the goal to help others learn something new. For more frequent bursts of resources and other related content join me over on {% include external-link.html link="https://www.twitter.com/naher94/" content="Twitter" %}.</p>
</header>

<!-- collect all the unique tags from the resources -->
{% assign alltags = site.resources | map: "tags" | uniq | sort %}

<section class="cell tag-section">
  <h2 class="visually-hidden">Categories</h2>
  <div class="tags-container cell">
    {% for tag in alltags %}
      <a href="#{{tag | replace: " ", "-"}}">
        <div class="tag">
          {{ tag }}
        </div>
      </a>
    {% endfor %}
  </div>
</section>

<section class="recently-added grid-x grid-padding-x grid-padding-y cell medium-12">
  <h2 class="cell small-12">Recently Added</h2>
  {% assign resources_sorted = site.resources | sort: 'date' | reverse %}
    <!-- TODO if tags array is empty then skip as that is current logic for not showing in the list -->
    <!-- hard to test since local and deployed is not acting the same -->
    {%- for resource in resources_sorted limit:3 -%}
      {% include resource-element.html item=resource css-class="medium-6 large-4" %}
    {%- endfor -%}
</section>

<section class="featured-collections grid-x grid-padding-x grid-padding-y cell medium-12">
  <div class="cell grid-x align-middle align-justify">
    <h2 class="cell small-8 medium-shrink">Featured Collections</h2>
    <a href="{% link resource-collection.html %}" class="view-all">
        <span>view all</span><i class="fas fa-arrow-right"></i>
    </a>
  </div>
  {%- for featured in site.resources-collection -%}
  {% if featured.featured == true %}
    <a href="{{featured.url | prepend: site.url}}" class="cell medium-3">
      <div class="tile" style="color: {{featured.text-color}};">
        <img src="../img/resources-collection/{{featured.tile-image}}" alt="{{featured.tile-image-alt}}">
        <p class="title">{{featured.title}}</p>
        <p class="sub-header">{{featured.sub-header}}</p>
      </div>
    </a>
  {% endif %}
  {%- endfor -%}
</section>

{% for tag in alltags %}
  <section class="tag-group grid-x grid-padding-x grid-padding-y cell medium-12" id="{{tag | replace: " ", "-"}}">
    <div class="cell grid-x align-middle">
      <a href="#{{tag | replace: " ", "-"}}" class="section-header">
        <h2 class="cell small-12 medium-shrink"><span class="hashtag">#</span>{{tag}}</h2>
      </a>
      <div class="cell small-12 medium-auto divider"></div>
    </div>
  {% for resource in site.resources %}
    {% if resource.tags contains tag %}
      {% include resource-element.html item=resource css-class="medium-6 large-4" %}
    {% endif %}
  {% endfor %}
  </section>
{% endfor %}
