---
layout: default
title: "Resources"
og-image: resources.jpg
permalink: resources

header-visibility: show
header-sort-order: 6

footer-section: other
footer-sort-order: 2
---
<header class="resource-header">
  <h1>Resources</h1>
  <p>A bunch of resources and references curated by me, with the goal to help others learn something new. For more frequent bursts of resources and other related content join me over on {% include external-link.html link="https://www.threads.net/@naher94" content="Threads" %}.</p>
</header>

{%- comment -%}collect all the unique tags from the resources and posts{%- endcomment -%}
{% assign allresources = site.resources | concat: site.posts %}
{% assign alltags = allresources | map: "tags" | uniq | sort %}
<section class="tag-section">
  <h2 class="visually-hidden">Categories</h2>
  <div class="tags-container">
    {% for tag in alltags %}
      <a href="#{{tag | replace: " ", "-"}}">
        <div class="tag">
          {{ tag }}
        </div>
      </a>
    {% endfor %}
    <a href="#" class="resource-surprise-me-button">
      <div class="tag surprise-me">
        <i class="fa-solid fa-wand-magic-sparkles"></i>
        surprise me
      </div>
    </a>
  </div>
</section>

<section class="recently-added scaffold-grid resource-grid">
  <h2 class="scaffold-grid-span-full">Recently Added</h2>
  {% assign resources_sorted = allresources | sort: 'date' | reverse %}
  {% assign tagged_sorted = resources_sorted | where_exp: 'item', 'item.tags.size > 0' %}
    {%- for resource in tagged_sorted limit:3 -%}
      {%- if resource.article == true -%}
      {% include article-element.html item=resource css-class="scaffold-grid-span-full md:scaffold-grid-span-half lg:scaffold-grid-span-third" %}
      {%- else -%}
      {% include resource-element.html item=resource css-class="scaffold-grid-span-full md:scaffold-grid-span-half lg:scaffold-grid-span-third" %}
      {%- endif -%}
    {%- endfor -%}
</section>

<section class="featured-collections scaffold-grid resource-grid">
  <div class="scaffold-grid-span-full">
    <h2><a href="{% link resource-collection.html %}">Collections <span class="arrow-animation"><i class="fas fa-arrow-right first"></i><i class="fas fa-angle-right second"></i></span></a></h2>
  </div>
  {%- for featured in site.resources-collection -%}
  {% if featured.featured == true %}
    <a href="{{featured.url | prepend: site.url}}" class="scaffold-grid-span-full md:scaffold-grid-span-quarter">
      <div class="tile" style="color: {{featured.text-color}};">
        <img src="../img/resources-collection/{{featured.tile-image}}" alt="{{featured.tile-image-alt}}">
        <p class="title">{{featured.title}}</p>
        <p class="sub-header">{{featured.sub-header}}</p>
      </div>
    </a>
  {% endif %}
  {%- endfor -%}
</section>

{%- assign allcollections = site.resources-collection | sort: 'date' | reverse -%}
{% for tag in alltags %}
  <section class="tag-group scaffold-grid resource-grid" id="{{tag | replace: " ", "-"}}">
    <div class="scaffold-grid-span-full scaffold-flex tag-heading">
      <a href="#{{tag | replace: " ", "-"}}" class="section-header">
        <h2><span class="hashtag">#</span>{{tag}}</h2>
      </a>
      <div class="divider"></div>
    </div>
  
  {% assign tag_found = false %}

  {% for collection in allcollections %}
    {%- if collection.tag == tag -%}
      {% assign tag_found = true %}
      {% break %}
    {% endif %}
    
    {% if tag_found %}
      {% break %}
    {% endif %}

  {% endfor %}
  
  {% if tag_found %}
  <div class="collection-row scaffold-grid-span-full scaffold-grid">
  {% endif %}
  
    {%- for collection in allcollections -%}
    {%- if collection.tag == tag -%}
    <a href="{{collection.url | prepend: site.url}}" class="scaffold-grid-span-full md:scaffold-grid-span-third inline-collection-tile-link">
      <div class="inline-collection-tile scaffold-flex">
        <img src="../img/resources-collection/{{collection.tile-image}}" alt="{{collection.tile-image-alt}}" class="tile-thumb">
        <div class="text-content">
          <p class="sub-header">{{collection.sub-header}}</p>
          <p class="title">{{collection.title}}</p>
        </div>
      </div>
    </a>
    {%- endif -%}
    {%- endfor -%}
  
    {% if tag_found %}
  </div>
  {% endif %}

  {% for resource in allresources %}
    {% if resource.tags contains tag %}
      {%- if resource.article == true -%}
      {% include article-element.html item=resource css-class="scaffold-grid-span-full md:scaffold-grid-span-half lg:scaffold-grid-span-third" %}
      {%- else -%}
      {% include resource-element.html item=resource css-class="scaffold-grid-span-full md:scaffold-grid-span-half lg:scaffold-grid-span-third" %}
      {%- endif -%}
    {% endif %}
  {% endfor %}
  </section>
{% endfor %}
