---
layout: default
title: "Speaking"
permalink: speaking

header-visibility: show
header-sort-order: 3

footer-section: main
footer-sort-order: 3
---

<div class="speaking-page grid-x align-center cell">
  <div class="cell medium-8">
    <div class="speaking-intro">
      <h1>Speaking</h1>
      <p>I've been fortunate to speak at many events on design, development and product. I love to share what I know with others and speaking is one of the ways I get to do that. From schools to conferences, I talk about design and technology.</p>
      <p>Always excited for new opportunities to share insights and spark conversations. Planning an event? Let's connect!</p>
      TODO add CTA here
    </div>
    
  <section class="speaking-events" id="speaking-events">
    <div class="cell grid-x align-middle">
      <h2 class="cell small-12 medium-shrink">Speaking Events</h2>
      <div class="cell small-12 medium-auto divider"></div>
    </div>
    {% assign event_order = site.speaking | sort: 'date' | reverse %}
    {% for event in event_order %}
    {% assign current_date = 'now' | date: "%s" %}
    {% assign event_date = event.date | date: "%s" %}
    <div class="speaking-item
      {% if event_date > current_date %}
        future-event
      {% endif %}
    "> <!-- adding future-event class -->
      {% if event.logo %}
      <div class="brand-logo-container" id="{{event.logo}}">
        <img class="brand-logo" src="/img/{{event.logo}}-logo.svg" alt="{{event.logo}} Logo">
      </div>
      {% endif %}
      {% if event.link %}
        <a href="{{event.link}}" target="_blank" rel="noopener">
      {% endif %}
      <div>
        <h3>
          {{event.title}}
          {% if event.link %}
            <i class="fas fa-link"></i>
          {% endif %}
        </h3>
        <!-- Add a if for future event -->
        {% if event_date > current_date %}
        <span>Upcoming</span>
        {% endif %}
      </div>
      <p class="date">{{event.date| date: "%B %Y" }}
        {% if event.location %}
        ・ {{event.location}}
        {% endif %}
      </p>
      <p class="description">{{event.description}}</p>
      {% if event.link %}
        </a>
      {% endif %}
    </div>
    {% endfor %}
  </section>
  <!-- //////////////////////// -->
  <!-- Insert new sections here -->
  <!-- //////////////////////// -->
  </div>
</div>