<div class="grid-x cell easter-egg-banner-container align-center" id="egg-banner">
  <div class="easter-egg-banner grid-x cell small-12 medium-8 large-6">
    <div class="cell auto shrink icon">
      <p>🎬</p>
    </div>
    <div class="cell  auto">
      <p>Explore the projects to see notes giving you a look behind the curtain. Achievement unlocked!</p>
    </div>
    <button type="button" name="button" class="button cell small-12 medium-shrink" onclick="unsetBTS()">Hide Notes</button>
  </div>
</div>
