<div class="grid-x cell easter-egg-banner-container" id="egg-banner">
  <div class="cell auto"></div>
  <div class="easter-egg-banner grid-x cell small-12 medium-8 large-6">

  <div class="cell auto shrink icon">
    <p>🎉</p>
  </div>
  <div class="cell  auto">
    <!-- <h1>Easter Eggs!</h1> -->
    <p>Easter Eggs! Explore the projects to see notes giving you a look behind the scenes</p>
  </div>
  <button type="button" name="button" class="cell button auto shrink" onclick="unsetBTS()">Hide Eggs</button>
  </div>
  <div class="cell auto"></div>
</div>
