<div class="easter-egg-banner-container scaffold-container scaffold-grid" id="egg-banner">
  <div class="easter-egg-banner scaffold-flex scaffold-grid-span-full md:scaffold-grid-span-two-thirds lg:scaffold-grid-span-half">
    <div class="icon">
      <p>🎬</p>
    </div>
    <div class="banner-text">
      <p>Explore the projects to see notes giving you a look behind the curtain. Achievement unlocked!</p>
    </div>
    <button type="button" name="button" class="button" onclick="unsetBTS()">Hide Notes</button>
  </div>
</div>
