<footer class="site-footer">

    <div class="grid-x grid-container">
        <div class="cell small-12 medium-9 large-6 left-section">
          <div class="site-pages small-12 large-12 cell">
            <a class="nav" href="/index.html">Portfolio</a>
            {% for my_page in site.pages %}
              {% if my_page.title == "About" %}
                <a class="nav" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            {% endfor %}
            <a class="nav" href="http://blog.rehanbutt.com">Blog</a>
            <a class="nav" href="http://resources.rehanbutt.com">Resources</a>
            <a class="nav" target="_blank" href="https://society6.com/rehanbutt">Store</a>
          </div>
          <div class="social-container small-12 large-12 cell">
            <a target="_blank" href="https://www.twitter.com/naher94/">
              <img class="social" style="width:3em;" src="{{'/img/social/twitter.svg'| prepend: site.baseurl }}" alt="Twitter Icon"></a>

            <a target="_blank" href="https://www.linkedin.com/in/rehan-butt/">
              <img class="social" style="width:2.75em" src="{{'/img/social/linkedin.svg'| prepend: site.baseurl }}" alt="Linkedin Icon"></a>

            <a target="_blank" href="http://github.com/naher94">
              <img class="social" src="{{'/img/social/github.svg'| prepend: site.baseurl }}" alt="Github Icon"></a>

            <a href="mailto:me@rehanbutt.com">
              <img class="social" src="{{'/img/social/mail.svg'| prepend: site.baseurl }}" alt="Email Icon"></a>

            <a target="_blank" href="http://dribbble.com/rehanbutt">
              <img class="social" src="{{'/img/social/dribbble.svg'| prepend: site.baseurl }}" alt="Dribbble Icon"></a>

            <a target="_blank" href="https://instagram.com/naher94">
              <img class="social" style="width:3em; margin-right:-8px;" src="{{'/img/social/instagram.svg'| prepend: site.baseurl }}" alt="Instagram Icon"></a>

            <a target="_blank" href="https://500px.com/naher94">
              <img class="social" style="width:3.75em; margin-right:-8px;" src="{{'/img/social/500px.svg'| prepend: site.baseurl }}" alt="500px Icon"></a>

            <a target="_blank" href="https://www.pinterest.com/naher94/">
              <img class="social" src="{{'/img/social/pinterest.svg'| prepend: site.baseurl }}" alt="Pinterest Icon"></a>
          </div>

        </div>
        <div class="small-12 medium-3 large-6 cell right-section">
          <a href="#"><img src="/img/rehanLogoFooter.svg" alt="Rehan's Logo" style="height: 55px; margin-top:10px;"></a>
          <p class="copyright no-select">copyright © {{ 'now' | date: "%Y" }} Rehan Butt</p>
        </div>
    </div>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49316908-1', 'auto');
  ga('send', 'pageview');
</script>
