<footer class="site-footer">
    
    <a href="http://dribbble.com/rehanbutt"><img class="social" src="img/social/dribbble.svg"></a>
    <a href="http://www.linkedin.com/pub/rehan-butt/4b/875/454"><img class="social" style="width:55px" src="img/social/linkedin.svg"></a>
    <a href="http://github.com/naher94"><img class="social" src="img/social/github.svg"></a>
    <a href="mailto:me@rehanbutt.com"><img class="social" src="img/social/mail.svg"></a>
    <a href="https://500px.com/naher94"><img class="social" style="width:75px;" src="img/social/500px.svg"></a>
    <a href="https://www.pinterest.com/naher94/"><img class="social" src="img/social/pinterest.svg"></a>
    
</footer>