<header class="year-in-review">

  <nav class="nav-container">
    <div class="site-nav row">

      <div class="menu-container column large-12">

        <div class="logo">
          <a href="{{ site.baseurl }}/">
            <img src="{{'/img/rehanLogo.svg'| prepend: site.baseurl }}" alt="Rehan's Logo">
          </a>
        </div>
      </div>

      <div class="column large-12">
          <h1 class="nineteen">2019</h1>
          <h2>Year <br> in <br> Review</h2>
      </div>
    </div>
  </nav>

</header>
