<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ site.title | escape }} | {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  <meta name="description" content="
  {% if page.layout == "resources-collection" %}
    {{ page.intro | strip_newlines | truncate: 160 }}
  {% elsif page.excerpt %}
    {{ page.content | strip_html | strip_newlines | truncate: 160 }}
  {% else %}
    {{ site.description }}
  {% endif %}">

  <meta name="keywords" content="Design,UX,UI,Web,Development,branding,Illustration,photography,3D,2D,Art,making,building,apps,portfolio,personal,site,product,fashion">
  <meta name="author" content="Rehan Butt">
  <meta property="og:locale" content="en_US" />

  <link rel="icon" type="image/png" href="{{site.url}}/img/favicon.png"/>
  <link rel="shortcut icon" type="image/png" href="{{site.url}}/img/favicon.png"/>
  <link rel="apple-touch-icon" type="image/png" href="{{site.url}}/img/favicon.png"/>
  <link rel="apple-touch-icon" type="image/png" href="{{site.url}}/img/favicon.png" sizes="76x76"/>
  <link rel="apple-touch-icon" type="image/png" href="{{site.url}}/img/favicon.png" sizes="120x120"/>
  <link rel="apple-touch-icon" type="image/png" href="{{site.url}}/img/favicon.png" sizes="152x152"/>

  <meta property="og:url" content="{{ page.url | replace:' . index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="{% if page.title %}{{ site.title | escape }} | {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  
  <meta property="og:description" content="
  {% if page.layout == "resources-collection" %}
    {{ page.intro | strip_newlines | truncate: 160 }}
  {% elsif page.excerpt %}
    {{ page.content | strip_html | strip_newlines | truncate: 160 }}
  {% else %}
    {{ site.description }}
  {% endif %}">

  <meta property="og:type" content="website" />
  
  <meta property="og:image" content="
    {% if page.layout == "resources-collection" %}
      {{ page.tile-image | prepend: '/img/resources-collection/' | prepend: site.baseurl | prepend: site.url }}
    {% elsif page.layout == "post-photo" %}
      {{ page.thumbnail | prepend: '/img/photography/thumbnails/' | prepend: site.baseurl | prepend: site.url }}
    {% elsif page.thumbnail %}
      {{ page.thumbnail | append: '.png' | prepend: '/img/thumbnails/' | prepend: site.baseurl | prepend: site.url }}
    {% else %}
      {{ "/img/favicon.png" | prepend: site.baseurl | prepend: site.url }}
    {% endif %}" />

  <meta name="twitter:site" content="@naher94"/>
  <meta name="twitter:creator" content="@naher94"/>
  <meta name="twitter:domain" content="rehanbutt.com" />

  <link rel="stylesheet" href="{{" /css/gallery.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{" /css/rehan.css" | prepend: site.baseurl }}"/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://kit.fontawesome.com/02150f0422.js" crossorigin="anonymous"></script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "url": "https://www.rehanbutt.com",
    "image": "https://www.rehanbutt.com/img/rehan.png",
    "alumniOf": "Carnegie Mellon University",
    "sameAs": [
      "https://twitter.com/naher94",
      "https://www.instagram.com/naher94/",
      "https://www.linkedin.com/in/rehan-butt/",
      "https://www.pinterest.com/naher94/",
      "https://dribbble.com/rehanbutt",
      "https://500px.com/naher94"
    ]
  }
  </script>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K48LV8T');</script>
  <!-- End Google Tag Manager -->
  
</head>
