<div class="grid-x cell easter-egg-banner-container align-center" id="marmalade-egg-banner" style="display:flex;">
  <div class="easter-egg-banner grid-x cell small-12 medium-8 large-6">

  <div class="cell auto shrink icon">
    <p>🍊</p>
  </div>
  <div class="cell auto">
    <p>You have unlocked the Paddington Easter Egg! Find Paddington Bear across the site to claim a prize!</p>
  </div>
  <div class="cell shrink">
    <p class="easter-egg-number">2/6</p>
  </div>
  <button type="button" name="button" class="cell button auto shrink button-close" onclick="unsetBTS()">×</button>
  </div>
</div>
