<div class="map-container scaffold-flex">
  <img class="map" src="/img/photography/{{include.worldmap-file}}" alt="Illustrated map of the world with a focus on {{include.country-name-alt-text}}">
  <div class="detail">
    <div class="detailed-map">
      <img src="/img/photography/{{include.mapdetail-file}}" alt="Illustrated map of {{include.country-name-alt-text}}">
    </div>
    <div class="detail-footer scaffold-flex">
      <div class="flag-wrapper">
        <img src="/img/photography/flags/{{include.flag-file}}" alt="Flag of {{include.country-name}}">
      </div>
      <div class="text-wrapper">
        <p class="country-name">{{include.country-name}}</p>
        <p class="country-label">Country</p>
      </div>
    </div>
  </div>
</div>
