//******* About Page Styling
.about-intro{
  position: relative;
  overflow-x: hidden;
  margin-top: 2rem;
  .about-bio{
    @include breakpoint(medium down){
      display: flex;
      flex-flow: row wrap;
    }
  }
  .bio-wrapper{
    @include breakpoint(medium down){
      order: 2;
    }
    .bio {
      margin-top: 6rem;
      margin-bottom: 3rem;
      @include breakpoint(medium down){
        order: 3;
        margin-top: 2rem;
      }
      a{
        z-index: 1
      }
      h1{
        padding-left: 0;
        font-family: $zilla;
        font-weight: $zilla-bold;
        font-size: 3rem;
        margin-bottom: 1rem;
        span{
          font-size: 2.5rem;
        }
      }
      p{
        font-family: $lato;
        padding: 0;
        margin: 0;
        margin-top: 1em;
        .rainbow{
          font-weight: $zilla-bold;
        }
        code{
          color: inherit;
          border-radius: 5px;
          padding-bottom: 0.15em;
          background-color: semantic-color(inline-code);
          border: 0;
        }
        @include breakpoint(small only) {
          font-size: 1.2rem;
        }
      }
      ul{
        &.todos{
          padding: 0;
          list-style-type: none;
          .checkbox{
            display: flex;
            align-items: center;
            height: 1em;
            width: 1em;
            border: 2px solid semantic-color(accent);
            border-radius: 4px;
            margin-right: 0.5em;
            text-decoration: none;
            position: relative;
            .click-easter-egg{
              background-color: $navy-black; //TODO make semantic
              box-shadow: $recessed-shadow semantic-color(shadow);
              color: $pure-white;
              border-radius: $tile-radius;
              padding: 0.25em 0.5em;
              transform: rotate(-5deg);
              width: 9em;
              line-height: 1.2;
              opacity: 0;
              position: absolute;
              left: 150%;
              top: -200%;
              transition: $sprint;
            }
          }
          @include breakpoint(small only) {
            font-size: 1.2rem;
            margin-left: 0.25rem;
          }
          li{
            display: flex;
            align-items: center;
            font-size: inherit;
            &.accomplished{
              .checkbox{
                background: semantic-color(accent);
                i{
                  font-size: .75em;
                  padding-left: 0.05em;
                  color: white; //TODO update to semantic color thought its always white
                }
              }
              span{
                text-decoration: line-through;
                text-decoration-color: semantic-color(accent);
                text-decoration-thickness: 0.15em;
              }
            }
          }
        }
      }
      .magic{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🪄</text></svg>") 16 0, auto;
      }
      .basketball{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🏀</text></svg>") 16 0, auto;
      }
      .football{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🏈</text></svg>") 16 0, auto;
      }
      .world{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🌏</text></svg>") 16 0, auto;
      }
      .photography{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>📷</text></svg>") 16 0, auto;
      }
      .penguin{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🐧</text></svg>") 16 0, auto;
      }
      .woodworking{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🪚</text></svg>") 16 0, auto;
      }
      .email{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>✉️</text></svg>") 16 0, auto;
      }
    }
    .profile-2{
      @include breakpoint(medium down){
        margin-top: -20rem;
        z-index: 4;
        order: 1;
      }
      @include breakpoint(small only){
        margin-top: -10rem;
        z-index: 4;
      }
    }
  }
  .profile-container{
    position: absolute;
    @include breakpoint(large){
      right: -5rem;
      top: 0;
      z-index: -1;
      img{
        max-height: 700px;
      }
    }
    @media screen and (min-width: 100em){
      left: 50vw;
    }
    @include breakpoint(medium down){
      position: relative;
      flex: 0 0 auto;
      min-height: 0px;
      min-width: 0px;
      width: 100%;
      z-index: 1;
      order: 1;
    }
    @include breakpoint(small only){
      margin-left: 5rem;
    }
    @include breakpoint(medium only){
      margin-left: 8rem;
    }
  }
}



.speaking-item{
  i{
    color: $signature-teal;
  }
  a{
    h3{
      @include swipe-underline(semantic-color(text-bg),false);
    }
    .fa-link{
      transition: transform .3s;
    }
    &:hover{
      .date, .description, h3{
        transition: $run;
      }
      h3{
        @include swipe-underline-hover(false);
      }
      .fa-link{
        transform: rotate(360deg);
      }
    }
  }
}

.future-event{
  h3{
    display: inline;
  }
  span{
    color: $pure-white;
    background-color: $signature-teal;
    border-radius: $pill-radius;
    padding: 0.25rem 0.5rem;
    font-size: 0.7em;
    font-weight: $lato-black;
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: bottom;
  }
}

.speaking-item{
  a{
    color: inherit;
  }
}

.work-experience, .speaking-events, .education, .skills, .tools{
  margin-top: 4em;
  h2{
    font-size: 3.5em;
    font-weight: $lato-black;
    font-family: $lato;
    @include breakpoint(small only) {
      line-height: 1em;
      padding: 0;
    }
    @include breakpoint(medium down) {
      line-height: 1em;
    }
  }
  .divider{
    background-color: $signature-teal;
    border-radius: $pill-radius;
    content: '';
    height: 0.5rem;
    margin-left: 1rem;
    @include breakpoint(small only) {
      margin-left: 0;
    }
  }

  .speaking-item, .education-item{
    h3{
      font-family: $lato;
      font-size: 1em;
      font-weight: $lato-black;
      padding: 0;
      margin-bottom: 0;
    }
  }

  .work-item, .speaking-item, .education-item{
    margin-top: 1rem;
    padding-left: 0.5rem;
    @include breakpoint(small only) {
      padding-left: 0;
    }
    p{
      padding: 0;
      margin: 0;
      margin-top: -0.25em;
    }
    .date{
      font-family: $lato;
      font-size: 1em;
      font-weight: 300;
      font-style: italic;
    }
    .description{
      font-family: $lato;
      font-size: 1em;
      font-weight: $lato-regular;
      line-height: 1.2em;
    }
    .brand-logo-container{
      position: absolute;
      opacity: 0.2;
      margin-left: -4em;
      transition: $run;
      padding-top: 0.5em;
      @include breakpoint(small only) {
        display: none;
      }
      &#disney-animation{
        margin-left: -11.5rem;
        img{
          height: 6em;
        }
      }
      &#duquesne{
        margin-left: -11.5em;
        img{
          height: 2.5em;
        }
      }
      &#upmc{
        margin-left: -15.5em;
      }
      &#processly{
        margin-left: -4.2em;
        img{
          height: 3.3em;
        }
      }
      &#dio{
        margin-left: -5.6em;
      }
      &#cr{
        margin-left: -6em;
      }
      &#ucla{
        margin-left: -10.5em;
      }
      &#ces{
        margin-left: -6.5em;
      }
      &#new-school{
        margin-left: -6.5em;
      }
      &#aia{
        margin-left: -4em;
      }
      &#cmu{
        margin-left: -6em;
      }
      &#nus{
        margin-left: -8em;
      }
      &#yinzcam{
        margin-left: -12em;
      }
    }
    .brand-logo{
      float: right;
      @media (prefers-color-scheme: dark) {
        filter: contrast(800%) invert(100%);
      }
    }
    &:hover .brand-logo-container{
      opacity: 1;
    }
  }
}

.work-experience{
  .work-item{
    .film-credit-container{
      margin-block-start: 0.5em;
      .film-poster{
        border-radius: 5px;
        overflow: hidden;
        img{
          max-width: 3em;
        }
      }
      .text-container{
        margin-inline-start: 0.5em;
        p{
          line-height: 1.2;
        }
        .film-name{
          font-weight: $lato-black;
          span{
            font-weight: $lato-bold;
          }
        }
        .credit-description{
          margin-top: 0;
        }
      }
    }
  }
}

.work-item{
  h3{
    font-family: $lato;
    font-size: 1.4em;
    font-weight: $lato-black;
    font-style: italic;
    padding: 0;
    margin-bottom: 0;
  }
  h4{
    font-family: $lato;
    font-size: 1em;
    font-weight: $lato-black;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.skills-container{
  margin-bottom: 1em;
}

.skills, .tools{
  h3{
    font-family: $lato;
    font-size: 1em;
    font-weight: $lato-black;
    padding: 0;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    @include breakpoint(small only){
      margin-top: -2rem;
    }
  }
  .divider{
    @include breakpoint(small only){
      margin-top: 1rem;
    }
  }
  .skills-item{
    display: inline-block;
    background-color: semantic-color(informational-pill);
    border-radius: $pill-radius;
    color: $pure-white;
    padding: 0.2em 0.6em 0.2em 0.6em;
    margin-right: 0.1em;
    margin-bottom: 0.4em;
  }
}

.rainbow{
  background-image: linear-gradient(90deg,#00a2e2 0%,#1bad6b 20%,#fec609 40%,#e92687 60%,#6d358d 80%,#00a2e2 100%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s linear infinite;
}

span.wave {
  animation-name: wave-animation;/* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;/* Change to speed up or slow down */
  animation-iteration-count: infinite;/* Never stop waving :) */
  transform-origin: 70% 70%;/* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes rainbow {
  to {
    background-position: 200% center
  }
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }/* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }/* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}
//******* End of About Page Styling
