//******* About Page Styling

@include breakpoint(large up) {
  .profile-photo-container{
    padding-right: 5rem;
  }
}

.bio {
  font-weight: $lato-bold;
  h1{
    padding-left: 0;
    font-family: $zilla;
    font-weight: $zilla-bold;
    font-size: 3rem;
    margin-bottom: 0;
    span{
      font-size: 2.5rem;
    }
  }
  p{
    font-family: $lato;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    &:last-of-type{
      margin-top: 0.5em;
    }
    code{
      color: var(--text-color);
      border-radius: $pill-radius;
      padding-left: 0.35em;
      padding-right: 0.35em;
      padding-bottom: 0.15em;
      background-color: $navy-black-l6;
      border-width: 0;
      @media (prefers-color-scheme: dark) {
        background-color: $navy-black-d6;
      }
    }
    @include breakpoint(small only) {
      font-size: 1.2rem;
    }
  }
}

.speaking-item{
  i{
    color: $signature-teal;
  }
  a{
    h3{
      @include swipe-underline($signature-teal-l6);
      @media (prefers-color-scheme: dark) {
        @include swipe-underline($signature-teal-d6);
      }
    }
    .fa-link{
      transition: transform .3s;
    }
    &:hover{
      .date, .description, h3{
        transition: $run;
      }
      h3{
        background-size: 100% 10px;
      }
      .fa-link{
        transform: rotate(360deg);
      }
    }
  }
}

.future-event{
  h3{
    display: inline;
  }
  span{
    color: $pure-white;
    background-color: $signature-teal;
    border-radius: $pill-radius;
    padding: 0.25rem 0.5rem;
    font-size: 0.7em;
    font-weight: $lato-black;
    margin-left: 0.5rem;
    &:hover{
      background-color: $signature-teal-d1;
    }
  }
}

.speaking-item{
  a{
    color: var(--text-color);
  }
}

.work-experience, .speaking-events, .education, .skills, .tools{
  margin-top: 4em;
  h2{
    font-size: 3.5em;
    font-weight: $lato-black;
    font-family: $lato;
    @media (prefers-color-scheme: dark) {
      color: $pure-white;
    }
    @include breakpoint(small only) {
      line-height: 1em;
    }
    @include breakpoint(medium down) {
      line-height: 1em;
    }
  }
  .divider{
    background-color: $signature-teal;
    border-radius: $pill-radius;
    content: '';
    height: 0.5rem;
    margin-left: 1rem;
    @media (prefers-color-scheme: dark) {
      background-color: $signature-teal-d2;
    }
    @include breakpoint(small only) {
      margin-left: 0;
    }
  }

  .speaking-item, .education-item{
    h3{
      font-family: $lato;
      font-size: 1em;
      font-weight: $lato-black;
      padding: 0;
      margin-bottom: 0;
    }
  }

  .work-item, .speaking-item, .education-item{
    // &:first-of-type{
    //   margin-top: -2.5em;
    //   @include breakpoint(small only) {
    //     margin-top: -1.5em;
    //   }
    //   @include breakpoint(medium down) {
    //     margin-top: -1.5em;
    //   }
    // }
    margin-top: 1rem;
    padding-left: 0.5rem;
    p{
      padding: 0;
      margin: 0;
      margin-top: -0.25em;
    }
    .date{
      font-family: $lato;
      font-size: 1em;
      font-weight: 300;
      font-style: italic;
    }
    .description{
      font-family: $lato;
      font-size: 1em;
      font-weight: $lato-regular;
      line-height: 1.2em;
    }
    .brand-logo-container{
      position: absolute;
      opacity: 0.2;
      margin-left: -4em;
      transition: $run;
      padding-top: 0.5em;
      @include breakpoint(small only) {
        display: none;
      }
      &#upmc{
        margin-left: -15.5em;
      }
      &#processly{
        margin-left: -4.2em;
        img{
          height: 3.3em;
        }
      }
      &#dio{
        margin-left: -5.6em;
      }
      &#cr{
        margin-left: -6em;
      }
      &#ucla{
        margin-left: -10.5em;
      }
      &#ces{
        margin-left: -6.5em;
      }
      &#new-school{
        margin-left: -6.5em;
      }
      &#aia{
        margin-left: -4em;
      }
      &#cmu{
        margin-left: -6em;
      }
      &#nus{
        margin-left: -8em;
      }
      &#yinzcam{
        margin-left: -12em;
      }
    }
    .brand-logo{
      float: right;
      @media (prefers-color-scheme: dark) {
        filter: contrast(800%) invert(100%);
      }
    }
    &:hover .brand-logo-container{
      opacity: 1;
    }
  }
}

.work-item{
  h3{
    font-family: $lato;
    font-size: 1.4em;
    font-weight: $lato-black;
    font-style: italic;
    padding: 0;
    margin-bottom: 0;
  }
  h4{
    font-family: $lato;
    font-size: 1em;
    font-weight: $lato-black;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.skills-container{
  margin-bottom: 1em;
}

.skills, .tools{
  h3{
    font-family: $lato;
    font-size: 1em;
    font-weight: $lato-black;
    padding: 0;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    @include breakpoint(small only){
      margin-top: -2rem;
    }
  }
  .divider{
    @include breakpoint(small only){
      margin-top: 1rem;
    }
  }
  .skills-item{
    display: inline-block;
    background-color: $navy-black;
    border-radius: $pill-radius;
    color: $pure-white;
    padding: 0.2em 0.6em 0.2em 0.6em;
    margin-right: 0.1em;
    margin-bottom: 0.4em;
    @media (prefers-color-scheme: dark) {
      background-color: $navy-black-d6;
    }
  }
}

.rainbow{
  background-image: linear-gradient(90deg,#00a2e2 0%,#1bad6b 20%,#fec609 40%,#e92687 60%,#6d358d 80%,#00a2e2 100%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s linear infinite;
}

span.wave {
  animation-name: wave-animation;/* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;/* Change to speed up or slow down */
  animation-iteration-count: infinite;/* Never stop waving :) */
  transform-origin: 70% 70%;/* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes rainbow {
  to {
    background-position: 200% center
  }
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }/* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }/* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}
//******* End of About Page Styling
