.post-article{
  .post-header{
    .article-hero{
      border-radius: $tile-radius-big;
    }
    .social-share{
      font-size: 1.25em;
      .share-item{
        color: semantic-color(text);
        padding: 0.25em;
        i{
          transition: $sprint;
        }
        &.threads{
          &:hover{
            i{
              transition: $sprint;
              transform: rotate(-15deg) scale(1.5); 
            }
          }
        }
        &.link{
          cursor: pointer;
          position: relative;
          &:hover{
            i{
              transition: $sprint;
              transform: rotate(360deg) scale(1.5); 
            }
          }
        }
      }
    }
  }
  .share-bar-wrapper{
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    margin-top: 1em;
  }
  .share-bar{
    position: relative;
    background-color: semantic-color(article-share-bar-bg);
    color: semantic-color(text);
    border-radius: $tile-radius-big;
    padding: 1em;
    font-weight: $lato-bold;
    @include breakpoint(small only) {
      font-size: 1.2em;
    }
    .share-buttons{
      column-gap: 0.5em;
      @include breakpoint(small only) {
        margin-top: 0.75em;
        > .cta-button {
          flex: 1;
        }
      }
    }
    .cta-button{
      @include breakpoint(small only) {
        font-size: 1rem;
        padding: 0.4rem 0.75rem;
      }
      &:first-child{
        background-color: transparent;
        color: inherit;
        margin-right: 0;
        &:hover{
          background-color: semantic-color(button-fill);
          color: semantic-color(text-inverted);
          border-color: semantic-color(button-outline);
        }
      }
      &.link{
        position: relative;
        .copied{
          font-size: 0.75em;
          left: 10%;
          right: unset;
          font-weight: $lato-bold;
        }
      }
    }
  }
}

.product-principles-strategies{
  h2{
    line-height: 1.2;
  }
  p{
    margin: 0;
    @include breakpoint(medium up) {
      padding: 0;
    }
  }
}
