// Design System
body {
  font-family: $lato;
  font-weight: $lato-regular;
  font-size: 20px; // = 1em
  color: var(--text-color);
  @include breakpoint(small only) {
    font-size: 16px;
  }
  @media (prefers-color-scheme: dark) {
    background-color: $navy-black-d3;
  }
}

h1, h2, h3, h4 {
  font-family: $zilla;
}

h1{
  font-size: 3em;
  line-height: 0.9em;
  font-weight: $zilla-bold;
}

h2{
  font-size: 3.5em;
  font-weight: $zilla-medium;
  @include breakpoint(small only) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

h3{
  font-size: 2.5em;
}
h4{
  font-size: 1.5em;
}

p{
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  @include breakpoint(small only) {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

ul {
  padding-left: 5em;
  padding-right: 5em;
  @include breakpoint(small only) {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.content-wrapper{
  padding-top: 3em;
  @include breakpoint(small only) {
    padding-top: 1em;
  }
}

.hero{
  overflow: hidden;
  position: relative;
  .hero-image{
    img{
      position: relative;
    }
  }
}

.hero-background-image{
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  img{
    position: absolute;
    padding-left: 2em;
    padding-right: 2em;
    @include breakpoint(small only) {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

.date-stamp{
  font-size: 1.6em;
  margin-top: 0;
  font-weight: $zilla-regular;
  font-family: $zilla;
  margin-bottom: 0;
  padding: 0;
}

::selection {
  background: var(--signature-teal);
  color: $pure-white;
}

.content-button {
  width: 100%;
  font-size: 1.5em;
  color: $pure-white;
  padding: 1em;
  text-align: center;
  border-radius: $pill-radius;
  transition: $run;
}

.post-callout{ //should be renamed post call out large
  margin: 2rem 0;
  font-size: 2.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1.3em;
}

.post-callout-medium{
  margin: 2rem 0;
  font-size: 2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  line-height: 1.3em;
  font-weight: $lato-bold;
  font-style: italic;
  @include breakpoint(small only) {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}

.post-callout-small{
  margin: 2rem 0;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1.3em;
}


//******* A Tag Underline Expand Styling
p, li, h3{
  a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: var(--link-color);
    padding: 0 1px;
    transition: $run;
  }

  a::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 11%;
    left: 0;
    bottom: 0;
    background-color: var(--link-color);
    transition: $run;
  }

  a:hover {
    color: $pure-white;
  }

  a:hover::after {
    height: 100%;
  }
}
//******* A Tag Underline Expand Styling

@mixin swipe-underline($color) {
  display: inline;
  background: linear-gradient(rgba($color,1), rgba($color,1));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 10px;
  transition: background-size .3s;
}
