//******* Footer Styling
footer{
  margin-top: 2rem;
  background-color: semantic-color(footer-bg);
  color: semantic-color(text);
  padding-bottom: 2rem;
  .footer-content{
    padding-top: 2rem;
    @include breakpoint(small only){
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .nav-section{
      margin-inline-end: 3rem;
      .section-title{
        padding: 0;
        margin: 0;
        font-weight: $lato-bold;
        margin-bottom: 1rem;
      }
    }
    .metadata{
      margin-top: 2rem;
      @include breakpoint(small only){
        text-align: right;
      }
      div{
        justify-content: flex-end;
      }
      a{
        color: inherit;
        @include breakpoint (small only){
          order: 2;
        }
        &:hover{
          font-weight: $lato-black;
          ~.ship-it{
            visibility: visible;
          }        
        }
        p{
          display: inline;
        }
      }
      .ship-it{
        margin-left: 0.5rem;
        visibility: hidden;
        display: inline;
        @include breakpoint (small only){
          order: 1;
          margin-right: 0.5rem;
        }
      }
      p{
        padding: 0;
        margin: 0;
      }
      font-family: $lato;
      font-weight: $lato-bold;
      font-size: 1rem;
      .happy-copyright{
        p{
          display: inline;
          @include breakpoint(small only){
            display: block;
          }
        }
        .middle-dot{
          margin-left: 0.5em;
          margin-right: 0.5em;
          @include breakpoint(small only){
            display: none;
          }
        }
      }
    }
  }
  .site-pages{
    padding-left: 0;
    padding-right: 0;
    @include breakpoint(medium down){
      text-align: right;
      justify-content: flex-end;
      margin-bottom: 3rem;
      .nav-section{
        margin-inline-start: 3rem;
        margin-inline-end: 0rem;
      }
      .nav-wrap{
        margin-right: -1rem;
      }
    }
    @include breakpoint(small only){
      font-size: 1.5em;
      .nav{
        font-size: 1.1em;
      }
      .nav-section{
        margin-block-end: 2rem;
        .section-title{
          font-weight: $lato-black;
        }
        .nav-wrap{
          margin-bottom: 0;
        }
      }
    }
    .nav-wrap{
      margin-bottom: 0.5rem;
      margin-left: -1rem;
    }
    .nav{
      font-family: $lato;
      font-weight: $lato-regular;
      color: inherit;
      padding: 0.5rem 1rem;
      &:hover, &:focus{
        background: semantic-color(footer-nav-hover);
        transition: color 0.2s ease-in-out;
      }
    }
  }
  .social-container{
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    .social-sub-2{
      a{
        &:last-child{
          padding-right: 0;
        }
      }
    }
    @include breakpoint(small only){
      .social-sub-1{
        margin-top: 1rem;
        margin-bottom: -1rem;
        a{
          &:last-child{
            padding-right: 0;
          }
        }
      }
    }
  }
  @include breakpoint(small only) {
    margin-top: 0.5em;
    padding-bottom: 4rem;
  }
}

.social {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 2em;
  color: inherit;
  @include breakpoint(small only) {
    font-size: 3em;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  &:hover, &:focus{
    .fab, .fas{
      animation: boing 300ms ease-out;
    }
    .fa-envelope{
      color: $signature-teal;
    }
    .fa-dribbble{
      color: $dribbble-pink;
    }
    .fa-pinterest{
      color: $pinterest-red;
    }
    .fa-linkedin-in{
      color: $linkedin-blue;
    }
    .fa-instagram{
      color: $instagram-purple;
    }
    .fa-twitter{
      color: $twitter-blue;
    }
    .fa-github{
      color: $github-purple;
    }
    .fa-500px{
      color: $F500px-green;
    }
  }
  &.email-wrapper{
    position: relative;
    display: inline;
    cursor: pointer;
    @include breakpoint(small only) {
      padding-right: 0;
    }
    .copied{
      font-size: 0.5em;
      left: -20%;
      right: unset;
      font-weight: $lato-bold;
      @include breakpoint(small only) {
        left: unset;
        right: -50%;
      }
    }
  }
}

.logo-footer-container{
  text-align: right;
  .logo-footer{
    #rehan-logo-footer{
      height: 3rem;
      margin-top: 0.5rem;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill: semantic-color(footer-logo);
      }
    }
  }
}

.vault{
  h2{
    line-height: 1em;
    padding: 0;
  }
  .subheader{
    margin-bottom: 2em;
    color: $pure-white;
  }
}

#badge-container{
  p{
    text-align: center;
    margin-top: 0.5em;
    line-height: 1.3em;
  }
}