//******* Footer Styling
footer{
  margin-top: 2rem;
  // background-color: rgba($navy-black-l6, 0.5);
  background-color: $navy-black-l6; //TODO sort this color out
  color: $navy-black;
  padding-bottom: 2rem;
  position: relative; // Needed for the UFO positioning
  @media (prefers-color-scheme: dark) {
    background-color: $navy-black-d5;
    color: $pure-white;
  }
  .footer-content{
    padding-top: 2rem;
    @include breakpoint(small only){
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .nav-section{
      margin-inline-end: 3rem;
      .section-title{
        padding: 0;
        margin: 0;
        font-weight: $lato-bold;
        margin-bottom: 1rem;
      }
    }
    .metadata{
      margin-top: 2rem;
      @include breakpoint(small only){
        text-align: right;
      }
      a{
        color: $navy-black;
        &:hover{
          font-weight: $lato-black;
          ~.ship-it{
            visibility: visible;
          }        
        }
        p{
          display: inline;
        }
      }
      .ship-it{
        margin-left: 0.5rem;
        visibility: hidden;
        display: inline;
      }
      p{
        padding: 0;
        margin: 0;
      }
      font-family: $lato;
      font-weight: $lato-bold;
      font-size: 1rem;
    }
  }
  .spaceship{
    position: absolute;
    top: -2.2rem;
    font-size: 3rem;
    animation-name: ufo-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .vault-wrapper{
    background-color: $navy-black;
    color: $pure-white;
    .vault{
      display: none;
      h2{
        font-weight: $zilla-bold;
      }
      p{
        padding: 0;
        margin: 0;
      }
      input[type=text]{
        border-radius: 2rem;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        &::placeholder{
          font-style: italic;
          font-weight: $lato-bold;
        }
      }
      label{
        display: none;
      }
    }
  }

  .spaceship-btn{
    display: none;
    &:checked{
      &~.vault{
        display: block;
        margin: 3rem 0;
      }
    }
  }
  .site-pages{
    padding-left: 0;
    padding-right: 0;
    @include breakpoint(medium down){
      text-align: right;
      justify-content: flex-end;
      margin-bottom: 3rem;
      .nav-section{
        margin-inline-start: 3rem;
        margin-inline-end: 0rem;
      }
      .nav-wrap{
        margin-right: -1rem;
      }
    }
    @include breakpoint(small only){
      font-size: 1.5em;
      .nav{
        font-size: 1.1em;
      }
      .nav-section{
        margin-block-end: 2rem;
        .section-title{
          font-weight: $lato-black;
        }
        .nav-wrap{
          margin-bottom: 0;
        }
      }
    }
    .nav-wrap{
      margin-bottom: 0.5rem;
      margin-left: -1rem;
    }
    .nav{
      font-family: $lato;
      font-weight: $lato-regular;
      color: inherit;
      padding: 0.5rem 1rem;
      @media (prefers-color-scheme: dark) {
        color: $pure-white;
      }
      &:hover, &:focus{
        background-color: $navy-black-l5;
        transition: color 0.2s ease-in-out;
        @media (prefers-color-scheme: dark) {
          background-color: $navy-black-d3;
        }
      }
    }
  }
  .social-container{
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    .social-sub-2{
      a{
        &:last-child{
          padding-right: 0;
        }
      }
    }
    @include breakpoint(small only){
      .social-sub-1{
        margin-top: 1rem;
        margin-bottom: -1rem;
        a{
          &:last-child{
            padding-right: 0;
          }
        }
      }
    }
  }
  @include breakpoint(small only) {
    margin-top: 0.5em;
    padding-bottom: 4rem;
  }
}

.social {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 2em;
  color: inherit;
  @include breakpoint(small only) {
    font-size: 3em;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  @media (prefers-color-scheme: dark) {
    color: $pure-white;
  }
  &:hover, &:focus{
    .fab, .fas{
      animation: boing 300ms ease-out;
    }
    .fa-envelope{
      color: $signature-teal;
    }
    .fa-dribbble{
      color: #ea4c89;
    }
    .fa-pinterest{
      color: #e60023;
    }
    .fa-linkedin-in{
      color: #2867B2;
    }
    .fa-instagram{
      color: #C13584;
    }
    .fa-twitter{
      color: #1DA1F2;
    }
    .fa-github{
      color: #6f42c1;
    }
    .fa-500px{
      color: #34bf49;
    }
  }
}

.logo-footer-container{
  text-align: right;
  // .ship-it{ //TODO can remove??
  //   height: 3.3rem;
  //   margin-right: 0.5rem;
  //   margin-top: 0.5rem;
  //   visibility: hidden;
  //   order: -1;
  // }
  .logo-footer{
    // &:hover, &:focus{
    //   animation: boing 300ms ease-out;
    //   ~ .ship-it{
    //     visibility: visible;
    //     animation: boing 300ms ease-out;
    //   }
    // }
    #rehan-logo-footer{
      height: 3rem;
      margin-top: 0.5rem;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill: $navy-black;
        @media (prefers-color-scheme: dark) {
          fill: $pure-white;
        }
      }
    }
  }
}

@keyframes ufo-animation {
    0% { transform: translatey(0) rotate(12.0deg)}
   60% { transform: translatey(-4px) rotate(12.0deg)}
  100% { transform: translatey(0) rotate(12.0deg)}
}
