.resource-header{
  h1{
    font-weight: $zilla-bold;
    @include breakpoint(small only) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    @include breakpoint(medium down) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  p{
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 0;
    margin: 0.5em;
    @include breakpoint(small only) {
      font-size: 1em;
    }
  }
}

.recently-added, .featured-collections{
  h2{
    font-size: 2.5em;
    color: semantic-color(text);
    display: inline;
    font-weight: $zilla-bold;
    flex-wrap: wrap;
    @include breakpoint(small only) {
      line-height: normal;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.featured-collections{
  @include breakpoint(small only) {
    margin-bottom: 2rem;
  }
}

.resources-collection{
  .tile{
    border-radius: $tile-radius-big;
    padding: 1.5em;
    color: semantic-color(text);
    background-color: semantic-color(resources-collection-card);
    aspect-ratio: 3/4;
    transition: $sprint;
    position: relative;
    overflow: hidden;
    @include breakpoint(medium up) {
      position: sticky;
      top: 1em;
    }
    p{
      padding: 0;
      margin: 0;
    }
    .text-container{
      @include breakpoint(small only) {
        font-size: 1.25em;
      }
      .title{
        font-family: $zilla;
        font-weight: $zilla-bold;
        font-size: 2em;
        line-height: normal;
        position: relative;
        margin-bottom: 0;
      }
      .sub-header{
        text-transform: uppercase;
        letter-spacing: 0.3em;
        font-size: 0.8em;
        font-weight: $lato-bold;
        opacity: 0.6;
        position: relative;
        margin-block-start: .5em;
      }
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
    }
    .metadata-bar{
      position: relative;
      background-color: semantic-color(resources-collection-card-bar);
      color: semantic-color(text);
      border-radius: $tile-radius;
      padding: 0.5em;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      font-weight: $lato-bold;
      font-size: 0.8em;
      @include breakpoint(small only) {
        font-size: 1.2em;
      }
      .count-label{
        padding-inline-start: 0.25em;
      }
      .share-item{
        color: semantic-color(text);
        padding: 0.25em;
        i{
          transition: $sprint;
        }
        &.twitter{
          &:hover{
            i{
              transition: $sprint;
              transform: rotate(-15deg) scale(1.5); 
            }
          }
        }
        &.link{
          cursor: pointer;
          position: relative;
          &:hover{
            i{
              transition: $sprint;
              transform: rotate(360deg) scale(1.5); 
            }
          }
        }
      }
    }
  }
  .collection-content{
    h2{
      &.intro{
        font-family: $lato;
        font-size: 1.5em;
        line-height: normal;
        margin-bottom: 1em;
        @include breakpoint(small only) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .resource-link{
      .resource{
        margin-bottom: 1em;
      }
    }
  }
}

.featured-collections, .all-collections{
  .view-all{
    font-weight: $lato-bold;
    color: semantic-color(text);
    padding: 0.5em 1em;
    border-radius: $pill-radius;
    transition: background-color 0.2s ease-in-out;
    &:hover, &:focus{
      background-color: semantic-color(resources-collection-view-all);
    }
    span{
      margin-inline-end: 0.5em;
    }
    i{
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      transition: $sprint;
    }
    &:hover{
      i{
        margin-left: 0.5rem;
        margin-right: 0rem;
      }
    }
    @include breakpoint(small only) {
      font-size: 2em;
      padding: 0;
      aspect-ratio: 1/1;
      min-width: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span{
        display: none;
      }
      i{
        margin: auto;
      }
      &:hover{
        i{
          margin: auto;
        }
      }
    }
  }
  .tile{
    border-radius: $tile-radius;
    padding: 1em;
    color: semantic-color(text);
    background-color: $navy-black;
    aspect-ratio: 3/4;
    transition: $sprint;
    position: relative;
    overflow: hidden;
    @include breakpoint(small only) {
      font-size: 1.5em;
    }
    p{
      padding: 0;
      margin: 0;
    }
    .title{
      font-family: $zilla;
      font-weight: $zilla-bold;
      font-size: 1.5em;
      line-height: normal;
      position: relative;
    }
    .sub-header{
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-size: 0.6em;
      font-weight: $lato-bold;
      opacity: 0.6;
      position: relative;
    }
    &:hover{
      transform: rotate(4deg) scale(1.05);
      box-shadow: $recessed-shadow semantic-color(shadow);
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

h1{
  &.resource-collections{
    @include breakpoint(small only) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.tag-section{
  margin-bottom: 4rem;
  margin-top: 2rem;
  h2{
    font-size: 2.5em;
  }
  .tags-container{
    .tag{
      font-size: 0.8em;
      padding: 0.25rem .75rem;
      margin-bottom: 0.25rem;
      font-weight: $lato-bold;
      background-color: semantic-color(actionable-pill);
      color: $pure-white;
      border-radius: $pill-radius;
      display: inline-block;
      &:hover{
        background-color: semantic-color(actionable-pill-hover);
      }
    }
  }
}

.tag-group{
  margin-bottom: 6rem;
  @include breakpoint(small only) {
    margin-bottom: 3rem;
  }
  .section-header{
    &:hover{
      .hashtag{
        color: $signature-teal;
      }
    }
  }
  h2{
    font-size: 2.5em;
    color: semantic-color(text);
    display: inline;
    font-weight: $lato-black;
    font-family: $lato;
    flex-wrap: wrap;
    @include breakpoint(small only) {
      line-height: normal;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .divider{
    background-color: $signature-teal;
    border-radius: $pill-radius;
    content: '';
    height: 0.35rem;
    margin-left: 1rem;
    @include breakpoint(small only) {
      margin-left: 0;
    }
  }
}

.resource-link{
  margin-bottom: 1em;
  color: inherit;
  &:hover{
    color: inherit;
    .resource{
      .title{
        @include swipe-underline-hover(false);
      }
      .fa-link{
        transform: rotate(360deg);
      }
    }
  }
  .resource{
    .meta{
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 0.5em;
      font-weight: $lato-bold;
      letter-spacing: 0.3em;
      i{
        margin-right: 0.25em;
      }
      &.video{
        color: semantic-color(resources-video);
      }
      &.reading, &.blog, &.article, &.portfolio, &.publication{
        color: semantic-color(resources-reading);
      }
      &.interactive{
        color: semantic-color(resources-interactive);
      }
      &.tool{
        color: semantic-color(resources-tools);
      }
      &.my-content{
        color: semantic-color(resources-my-content);
      }
      &.reference{
        color: semantic-color(resources-reference);
      }
    }
    .title{
      font-family: $zilla;
      font-weight: $zilla-bold;
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
      line-height: 1em;
      @include swipe-underline(semantic-color(text-bg),false);
    }
    .fa-link{
      margin-left: 0.5rem;
      font-size: .7em;
      transition: transform .3s;

    }
    .description{
      font-size: 0.8em;
      padding: 0;
      margin: 0;
    }
  }
}
