.resource-header{
  h1{
    font-weight: $zilla-bold;
    @include breakpoint(small only) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    @include breakpoint(medium down) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  p{
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 0;
    margin: 0.5em;
    @include breakpoint(small only) {
      font-size: 1em;
    }
  }
}

.tag-section{
  margin-bottom: 5rem;
  margin-top: 2rem;
  h2{
    font-size: 2.5em;
  }
  .tags-container{
    .tag{
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
      font-weight: $lato-bold;
      background-color: $signature-teal;
      color: $pure-white;
      border-radius: $pill-radius;
      display: inline-block;
      @media (prefers-color-scheme: dark) {
        background-color: $signature-teal-d1;
      }
    }
    a{
      &:hover{
        .tag{
          background-color: $signature-teal-d1;
          @media (prefers-color-scheme: dark) {
            background-color: $signature-teal-d2;
          }
        }
      }
    }
  }
}

.tag-group{
  margin-bottom: 6rem;
  .section-header{
    &:hover{
      .hashtag{
        color: $signature-teal;
      }
    }
  }
  h2{
    font-size: 3.5em;
    color: $navy-black;
    display: inline;
    font-weight: $lato-black;
    font-family: $lato;
    flex-wrap: wrap;
    @media screen and (max-width: 40em) {
      line-height: 3.6rem;
    }
    @media (prefers-color-scheme: dark) {
      color: $pure-white;
    }
  }
  .divider{
    background-color: $signature-teal;
    border-radius: $pill-radius;
    content: '';
    height: 0.5rem;
    margin-left: 1rem;
    @include breakpoint(small only) {
      margin-left: 0;
    }
  }
}

.resource-link{
  margin-bottom: 1em;
  color: inherit;
  &:hover{
    color: inherit;
    .resource{
      .title{
        background-size: 100% 10px;
      }
      .fa-link{
        transform: rotate(360deg);
      }
    }
  }
  .resource{
    .title{
      font-family: $zilla;
      font-weight: $zilla-bold;
      font-size: 2rem;
      padding: 0;
      margin: 0;
      line-height: 1em;
      @include swipe-underline($signature-teal-l6);

      @media (prefers-color-scheme: dark) {
        @include swipe-underline($signature-teal-d4);
      }
    }
    .fa-link{
      margin-left: 0.5rem;
      font-size: .7em;
      transition: transform .3s;

    }
    .description{
      padding: 0;
      margin: 0;
    }
  }
}
