//******* Variables

// Numbers
$color-percentage: 5%;
$tile-radius: 10px;
$tile-radius-medium: 20px;
$tile-radius-big: 30px;
$pill-radius: 500px;
$recessed-shadow: 0px 10px 33px -10px;

// Colors
$pure-white: #ffffff;
$pure-black: #000000;

////Brand Colors
$twitter-blue: #1DA1F2;
$linkedin-blue: #2867B2;
$pinterest-red: #e60023;
$dribbble-pink: #ea4c89;
$instagram-purple: #C13584;
$github-purple: #6f42c1;
$F500px-green: #34bf49;

$signature-teal: #12abc4;
$navy-black: #1f2937;
//// [number indicates number of step removed from main]

////Signature Teal
////// Dark Set
$signature-teal-d1: mix($pure-black, $signature-teal, 10%);
$signature-teal-d2: mix($pure-black, $signature-teal, 20%);
$signature-teal-d3: mix($pure-black, $signature-teal, 30%);
$signature-teal-d4: mix($pure-black, $signature-teal, 40%);
$signature-teal-d5: mix($pure-black, $signature-teal, 50%);
$signature-teal-d6: mix($pure-black, $signature-teal, 60%);
$signature-teal-d7: mix($pure-black, $signature-teal, 70%);
$signature-teal-d8: mix($pure-black, $signature-teal, 80%);
$signature-teal-d9: mix($pure-black, $signature-teal, 90%);

////// Light Set
$signature-teal-l1: mix($pure-white, $signature-teal, 10%);
$signature-teal-l2: mix($pure-white, $signature-teal, 20%);
$signature-teal-l3: mix($pure-white, $signature-teal, 30%);
$signature-teal-l4: mix($pure-white, $signature-teal, 40%);
$signature-teal-l5: mix($pure-white, $signature-teal, 50%);
$signature-teal-l6: mix($pure-white, $signature-teal, 60%);
$signature-teal-l7: mix($pure-white, $signature-teal, 70%);
$signature-teal-l8: mix($pure-white, $signature-teal, 80%);
$signature-teal-l9: mix($pure-white, $signature-teal, 90%);


//// Dark Set
$navy-black-d1: mix($pure-black, $navy-black, 10%);
$navy-black-d2: mix($pure-black, $navy-black, 20%);
$navy-black-d3: mix($pure-black, $navy-black, 30%);
$navy-black-d4: mix($pure-black, $navy-black, 40%);
$navy-black-d5: mix($pure-black, $navy-black, 50%);
$navy-black-d6: mix($pure-black, $navy-black, 60%);
$navy-black-d7: mix($pure-black, $navy-black, 70%);
$navy-black-d8: mix($pure-black, $navy-black, 80%);
$navy-black-d9: mix($pure-black, $navy-black, 90%);

//// Light Set
$navy-black-l1: mix($pure-white, $navy-black, 10%);
$navy-black-l2: mix($pure-white, $navy-black, 20%);
$navy-black-l3: mix($pure-white, $navy-black, 30%);
$navy-black-l4: mix($pure-white, $navy-black, 40%);
$navy-black-l5: mix($pure-white, $navy-black, 50%);
$navy-black-l6: mix($pure-white, $navy-black, 60%);
$navy-black-l7: mix($pure-white, $navy-black, 70%);
$navy-black-l8: mix($pure-white, $navy-black, 80%);
$navy-black-l9: mix($pure-white, $navy-black, 90%);


//Semantic colors maps the color palette above to their use across the application
//// This method allows for several flavors of a color to be added such as a dark mode or a high contrast for example
$semantic-colors:(
  light:(
    text: $navy-black,
    text-inverted: $pure-white,
    text-on-light-bg-always: $navy-black,
    link: $signature-teal,
    text-bg: $signature-teal-l6,
    informational-pill: $navy-black,
    actionable-pill: $signature-teal,
    actionable-pill-hover: $signature-teal-d1,
    shadow: rgba($navy-black,0.75),
    floating-card-bg: $pure-white,
    footer-bg: $navy-black-l9,
    footer-nav-hover: $navy-black-l8,
    footer-logo: $navy-black,
    inline-code: $navy-black-l9,
    recent-resources-bg: $signature-teal,
    button-outline: $navy-black,
    button-fill: $navy-black,
  ),
  dark:(
    text: $pure-white,
    text-inverted: $navy-black,
    text-on-light-bg-always: $navy-black,
    link: $signature-teal,
    text-bg: $signature-teal-d4,
    informational-pill: $navy-black-d6,
    actionable-pill: $signature-teal-d1,
    actionable-pill-hover: $signature-teal-d2,
    shadow: rgba($navy-black-d9,0.75),
    floating-card-bg: $navy-black,
    footer-bg: $navy-black-d2,
    footer-nav-hover: $navy-black-d4,
    footer-logo: $pure-white,
    inline-code: $navy-black-d8,
    recent-resources-bg: $signature-teal-d2,
    button-outline: $pure-white,
    button-fill: $pure-white,
  ),
);

//Helper function to build CSS colors
@function compose-color($color-key) {
  @return '--color-#{$color-key}';
}

//Function to be called inline for color mapping
@function semantic-color($color-key) {
  @return (var(--color-#{$color-key}));
}

:root{
  @each $key, $value in map-get($semantic-colors, 'light') {
    #{compose-color($key)}: #{$value};
  }
  @media (prefers-color-scheme: dark) {
    @each $key, $value in map-get($semantic-colors, 'dark') {
      #{compose-color($key)}: #{$value};
    }
  }
}

// Animations
$sprint: all 0.20s ease-in-out;
$run: all 0.30s ease-in-out;
$jog: all 0.50s ease-in-out;

@keyframes boing{
  15%{
    transform-origin: center center;
    transform:scale(1.4, 1.2)
  }

  40%{
    transform-origin: center center;
    transform:scale(0.9, 0.9)
  }

  75%{
    transform-origin: center center;
    transform:scale(1.08, 1)
  }

  100%{
    transform-origin: center center;
    transform:scale(1, 1)
  }
}

// Typography
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,700&display=swap');
$zilla: 'Zilla Slab', serif;
$zilla-light: 300;
$zilla-regular: 400;
$zilla-medium: 500;
$zilla-bold: 700;

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900i,900&display=swap');
$lato: 'Lato', sans-serif;
$lato-thin: 100;
$lato-light-italic: 300i;
$lato-regular: 400;
$lato-bold: 700;
$lato-bold-italic: 700i;
$lato-black: 900;

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
$caveat: 'Caveat', cursive;
$caveat-regular: 400;