<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include tag-manager.html %}

  {% capture background-color-override %}
    {{ page.hero-background-color }}
  {% endcapture %}
  {% capture background-color-override-dark %}
    {{ page.hero-background-color-dark }}
  {% endcapture %}
  {% capture accent-color-override %}
    {{ page.hero-accent-color }}
  {% endcapture %}
  {% capture accent-color-override-dark %}
    {{ page.hero-accent-color-dark }}
  {% endcapture %}
    {% include header.html %}

    <main class="page-content">
      {{ content }}
    </main>
    {% include footer-buffer.html %}
    {% include footer.html %}
    {% include foot.html %}
</body>

</html>
