---
layout: default-hero
hero-background-color: {{hero-background-color}}
hero-background-color-dark: {{hero-background-color-dark}}
hero-accent-color: {{hero-accent-color}}
hero-accent-color-dark: {{hero-accent-color-dark}}
---

<style>
  .hero{
    background: {{ page.hero-background-color}};
  }
  @media (prefers-color-scheme: dark) {
    .hero{
      background: {{ page.hero-background-color-dark}};
    }
  }
</style>

<div class="hero hero-photography">
  <div class="grid-container grid-x hero-image">
    <div class="cell">
      <img src="../img/photography/{{ page.hero-image }}" alt="{{ page.hero-image-alt }}">
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header post-header-hero">
        <p class="date-stamp">
          {%- assign photo-month = photoset.date| date: "%m" | plus:0 -%}
          {%- if photo-month >= 3 and photo-month < 6 -%}
            Spring
          {%- elsif photo-month >= 6 and photo-month < 9 -%}
            Summer
          {%- elsif photo-month >= 9 and photo-month < 12 -%}
            Fall
          {%- elsif photo-month >= 12 -%}
            Winter
          {%- elsif photo-month < 3 -%}
            Winter
          {%- endif -%}
          &nbsp;{{ page.date| date: "%Y" }}
        </p>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

    </article>
    {% include easter-egg-banner.html %}
  </div>
</div>
