---
layout: default
---
<article class="post resources-collection">

  <aside>
    <div class="tile" style="color: {{page.text-color}};">
      <img src="/img/resources-collection/{{page.tile-image}}" alt="{{page.tile-image-alt}}">
      <div class="content-container">
        <div class="text-container">
          <h1 class="title">{{ page.title }}</h1>
          <p class="sub-header">{{page.sub-header}}</p>
        </div>
        <div class="metadata-bar">
          <div class="count-label">{{page.resources | size}} Resources</div>
          <div>
            <a href="https://threads.net/intent/post?text=Check%20out%20this%20resource%20collection%20by%20%40naher94!%20{{page.url | prepend: site.url}}" target="_blank" class="share-item threads">
              <i class="fa-brands fa-threads"></i>
            </a>
            <span onclick="copyToClipboard('{{page.url | prepend: site.url}}', this)" class="share-item link">
              <i class="fa-solid fa-link"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <div class="collection-content">
    <h2 class="intro">{{page.intro}}</h2>
    {%- for resource-var in page.resources -%}
      {%- assign variable = resource-var | prepend: "/resources/" -%}
      {%- assign resource = site.resources | where:"id", variable | first -%}
      {%- if resource.title != null -%}
        {%- include resource-element.html item=resource -%}
      {%- endif -%}
    {%- endfor -%}
  </div>

</article>
