---
layout: default
---
<article class="post resources-collection grid-x grid-padding-x grid-padding-y">

  <aside class="cell medium-4">
    <div class="tile cell grid-x" style="color: {{page.text-color}};">
      <img src="/img/resources-collection/{{page.tile-image}}" alt="{{page.tile-image-alt}}">
      <div class="content-container grid-x">
        <div class="cell text-container small-12">
          <h1 class="title">{{ page.title }}</h1>
          <p class="sub-header">{{page.sub-header}}</p>
        </div>
        <div class="cell metadata-bar small-12 align-self-bottom grid-x align-justify">
          <div class="cell shrink count-label">{{page.resources | size}} Resources</div>
          <div class="cell shrink">
            <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20collection%20by%20%40naher94!&url={{page.url | prepend: site.url}}" class="share-item twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <span onclick="copyToClipboard('{{page.url | prepend: site.url}}', this)" class="share-item link">
              <i class="fas fa-link"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <div class="collection-content cell medium-8">
    <h2 class="intro">{{page.intro}}</h2>
    {%- for resource-var in page.resources -%}
      {%- assign variable = resource-var | prepend: "/resources/" -%}
      {%- assign resource = site.resources | where:"id", variable | first -%}
      {%- include resource-element.html item=resource -%}
    {%- endfor -%}
  </div>

</article>
